{% extends "twopane.html" %}
{% load i18n %}
{% load staticfiles %}
{% load announcements_tags %}
{% block title %}最近のお知らせ{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'announcements_announcement_list' %}">{% trans "Announcements" %}</a></li>
{% endblock %}
{% block pre_css %}
{{ block.super }}
    {# BlogのCSSデザインを踏襲 #}
    <link type="text/less" rel="stylesheet" href="{% static "less/blogs.less" %}" media="screen">
{% endblock %}
{% block content-header %}
    <div class="page-header blog-list-header">
        <div class="header-left">
            <h1>{% trans "Announcements" %}</h1>
            <small>{% blocktrans count counter=paginator.count %}There is only one announcement entry.{% plural %}There are {{ counter }} announcement entries.{% endblocktrans %}</small>
        </div>
        {% if user has 'announcements.add_entry' %}
            <div class="header-right">
                <a href="{% url "announcements_announcement_create" %}" %}" class="btn btn-primary btn-lg" role="button">お知らせを書く</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block content-main %}
    {{ block.super }}
    {% for object in object_list %}
        {% include "announcements/components/announcement_truncated.html" %}
    {% endfor %}
    {% include "components/paginator.html" %}
{% endblock %}
{% block content-aside %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans "Recent Announcements" %}</h2>
        </div>
        <div class="list-group">
            {% get_announcements as announcements %}
            {% for announcement in announcements|slice:":5" %}
                <a class="list-group-item" href="{{ announcement.get_absolute_url }}">{{ announcement.title }} <small class="text-muted">{{ announcement.created_at|date:"Y/m/d" }}</small></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
