{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% if object %}
        <h1>{% blocktrans with title=object.title %}Edit {{ title }}{% endblocktrans %}</h1>
    {% else %}
        <h1>{% trans "Create New Announcement" %}</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="page-header">
        {% if object %}
            <h1>{% blocktrans with title=object.title %}Edit {{ title }}{% endblocktrans %}</h1>
        {% else %}
            <h1>{% trans "Create New Announcement" %}</h1>
        {% endif %}
    </div>
    {% crispy form %}
{% endblock %}
