{% load utils %}
{% load staticfiles %}
{% load i18n %}
{% load events_tags %}

<div class="panel panel-default event-list-item{% if event.pub_state == "protected" %} list-item-internal{% endif %}">

    <a href="{{ event.get_absolute_url }}" class="event-list-panel">
        <div class="panel-body event-panel-body">
            <div class="event-panel-header">
                <h3>{% if event.period_start %}<span class="title-date">{{ event.period_start | date:"m/d" }} </span>{% endif %}{{ event.title }}</h3>
                <div class="event-category">
                    <span class="glyphicon glyphicon-folder-open event-category-icon"></span>
                {% if event.category %}
                    <span>{{ event.category }}</span>
                {% else %}
                    <span class="none-set">{% trans "None" %}</span>
                {% endif %}
                </div>
            </div>

            <div class="event-panel-info">
                <div class="event-panel-time">
                    <span class="glyphicon glyph-large-icon glyphicon-time"></span>
                    <span class="event-start-date">{{ event.humanized_period }}</span>
                </div>
                <div class="event-panel-place">
                    <span class="glyphicon glyph-large-icon glyphicon-flag"></span>
                    {% if event.place %}
                        <span class="event-place">{{ event.place }}</span>
                    {% else %}
                        <span class="event-place">{% trans "Venue unfixed" %}</span>
                    {% endif %}
                </div>
            </div>

            <ul class="event-attendees-list">
                {% for attendee in event.active_attendees %}
                    <img src="{{ attendee.get_middle_avatar }}" alt="{{ attendee.nickname }} Avatar" rel="tooltip" data-toggle="tooltip" data-placement="top" title="{{ attendee.nickname }}" class="avatar avatar-small" />
                {% endfor %}
            </ul>
        </div>
    </a>
</div>
