{% extends "form_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}
        {% blocktrans with title=object.title %}Edit event "{{ title }}"{% endblocktrans %}
    {% else %}
        {% trans "Create a new event" %}
    {% endif %}
{% endblock %}

{% block content-header %}
    <div class="page-header">
        {% if object %}
            <h1>
                {% blocktrans with title=object.title %}Edit the event "{{ title }}"{% endblocktrans %}
            </h1>
        {% else %}
            <h1>{% trans "Create a new event" %}</h1>
        {% endif %}
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'events_event_list' %}">{% trans "Events" %}</a></li>
    {% if object %}
        <li><a href="{% url "events_event_update" pk=object.pk %}">{% blocktrans with title=object.title %}Edit {{ title }}{% endblocktrans %}</a></li>
    {% else %}
        <li><a href="{% url "events_event_create" %}">{% trans "Create a new event" %}</a></li>
    {% endif %}
{% endblock %}

{% block tab-content %}
    <div class="tab-pane active" id="editor-main" ng-init="previewURL = '{% url 'events_event_preview' %}';">
        {% crispy form %}
    </div>
{% endblock %}
{% block post_javascript %}
{{ block.super }}
<script type="text/javascript">
  $('#id_attendees').attr('data-placeholder', "ここをクリックしてイベント参加者を追加してください")
                         .chosen({no_results_text: "指定されたユーザーが見つかりませんでした"});
</script>
{% endblock %}
