{% extends "twopane.html" %}

{% load utils %}
{% load staticfiles %}
{% load i18n %}
{% load events_tags %}
{% block title %}{% trans "Upcoming events" %}{% endblock %}

{% block pre_css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{% static "less/events.less" %}" media="screen">
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'events_event_list' %}">{% trans "Upcoming events" %}</a></li>
{% endblock %}

{% block content-header %}
    <div class="page-header event-list-header row">
        <div class="col col-lg-9 col-xs-12">
            <h1>{% trans "Upcoming events" %}</h1>
        </div>
        <div class="col col-lg-3 col-xs-12 header-right">
        {% if user has 'events.add_event' %}
            <a href="{% url "events_event_create" %}"
               class="btn btn-success btn-primary btn-lg">
                <span class="glyphicon glyphicon-plus"></span>
                <span>{% trans "Create a new event" %}</span>
            </a>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block content-main %}
    <div class="event-list-wrap">
        {% for event in filter %}
            {% include "events/components/list-item.html" %}
        {% empty %}
            <div class="alert alert-info">
                <p>{% trans "Matching events can not be found" %}</p>
                {% if user has 'events.add_event' %}
                    <a href="{% url "events_event_create" %}" class="btn btn-success btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Create a new event" %}</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <iframe src="https://www.google.com/calendar/embed?src=kawaz.org_knp8k16jovqbodorkrkt45un0o%40group.calendar.google.com&ctz=Asia/Tokyo" style="border: 0" width="845" height="730" frameborder="0" scrolling="no"></iframe>
{% endblock %}

{% block content-aside %}
    <div class="event-type-list event-detail-aside-item">
        {# イベント種別 #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Categories" %}</h2>
            </div>
            {{ filter.form.category }}
        </div>
    </div>

    <div class="event-archive-list event-detail-aside-item">
    {# 過去のイベントリスト #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Archived events" %}</h3>
        </div>

        <div class="list-group">
            {% get_monthly_archives as archives %}
            {% for archive in archives %}
                <a class="list-group-item" href="{% url "events_event_archive_month" year=archive.date.year month=archive.date.month %}">{{ archive.date | date:"Y年m月" }}({{ archive.count }})</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

