{% extends "twopane.html" %}

{% load utils %}
{% load staticfiles %}
{% load i18n %}
{% load events_tags %}

{% block pre_css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{% static "less/events.less" %}" media="screen">
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'events_event_list' %}">{% blocktrans with year=year|date:"Y年" %}Events on {{ year }}{% endblocktrans %}</a></li>
{% endblock %}

{% block content-main %}
<div class="event-list-wrap">
    <div class="page-header event-list-header">
      <h2>{% blocktrans with yaer=year|date:"Y年" %}Events on {{ year }}{% endblocktrans %}</h2>
    </div>
    {% for event in object_list %}
      {% include "events/components/list-item.html" %}
    {% empty %}
      <div class="alert alert-info">
          <p>{% trans "Matching events can not be found" %}</p>
          {% if user has 'events.add_event' %}
              <a href="{% url "events_event_create" %}" class="btn btn-success btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Create a new event" %}</a>
          {% endif %}
      </div>
    {% endfor %}
</div>
{% endblock %}

{% block content-aside %}
  <div class="event-create-button event-detail-aside-item">
    {# 参加できる状態 #}
    {% if user has 'events.add_event' %}
    <a href="{% url "events_event_create" %}"
       class="btn btn-success event-join-btn btn-large">
        <span class="glyphicon glyphicon-plus"></span><span>{% trans "Create a new event" %}</span>
    </a>
    {% endif %}
  </div>

  <div class="event-archive-list event-detail-aside-item">
    {# 過去のイベントリスト #}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Event archives" %}</h3>
      </div>
      <div class="list-group">
      {% get_monthly_archives as archives %}
      {% for archive in archives %}
        <a class="list-group-item{% if archive.url = request.path %} active{% endif %}" href="{{ archive.url }}">{{ archive.date | date:"Y年m月" }}（{{ archive.count }}）</a>
      {% endfor %}
      </div>
    </div>
    <div class="back-event-list">
      <span class="glyphicon glyphicon-log-out"></span>
      <a href="/events/">{% trans "Back to upcoming events" %}</a>
    </div>
  </div>
  {% endblock %}
