{% extends "twopane.html" %}
{% load utils %}
{% load staticfiles %}
{% load i18n %}
{% load events_tags %}
{% load strip_newlines %}
{% block twittercard_title %}{{ object.title | truncatechars:70 }}{% endblock %}
{% block twittercard_description %}{{ object.body | kfm | striptags | strip_newlines:" " | truncatechars:200 }}{% endblock %}
{% block title %}{{ object.title }}{% endblock %}
{% block pre_css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{% static "less/events.less" %}" media="screen">
{% endblock %}
{% block ogp %}
    {% get_current_site as site %}
    <meta property="og:title" content="{{ object.title | truncatechars:70 }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ object.body | kfm | striptags | strip_newlines:" " | truncatechars:200 }}" />
    <meta property="og:image" content="{{ site.domain }}{{ object.administrator.get_large_avatar }} />
{% endblock %}{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'events_event_list' %}">{% trans "Events" %}</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endblock %}

{% block content-header %}
<div class="page-header event-detail-header-wrap">
    <div class="event-category">
        <span class="glyphicon glyphicon-folder-open event-category-icon"></span>
        {% if event.category %}
            <span>{{ event.category }}</span>
        {% else %}
            <span class="none-set">{% trans "None" %}</span>
        {% endif %}
    </div>
    <div class="event-title{% if object.pub_state == "protected" %} bg-protected{% endif %}">
        {% if event.pub_state == 'protected' %}
            <img src="{% static "img/lock-icon1.png" %}" alt="Internal Event"/>
        {% endif %}
        <h2>{{ event.title }}</h2>
    </div>
    <div class="row event-info-header">
        <div class="col col-lg-9 col-xs-8 page-header-left">
            <div class="event-info-wrap event-info-wrap-{% if event.is_over_restriction or event.is_over_deadline or user has 'events.quit_event' of event %}high{% elif event.organizer == user %}low{% else %}middle{% endif %}">
                <div class="event-info">
                    <div class="event-datetime-wrap event-info-detail">
                        <span class="glyphicon glyph-large-icon glyphicon-time"></span>
                        {% if not event.period_start and not event.period_end %}
                            {# 開始日時未定and終了日時未定 #}
                            {% trans "unfixed" %}
                        {% else %}
{# TODO 年月日だけ出力（今はなにもなし） #}
                          <span class="event-start-date">{{ event.humanized_period }}</span>
{# TODO 曜日だけ出力 #}
{# TODO 曜日用のクラス名 #}
                          <span class="">{{ event.humanized_period | date:"（l）" }}</span>
                            <a href="{% url 'events_event_calendar' pk=event.pk %}" title="{% trans "Download in iCal format" %}" rel="tooltip" data-toggle="tooltip" data-placement="top"><span class="glyphicon glyphicon-calendar"></span></a>
                        {% endif %}
                    </div>
                    <div class="event-place-wrap event-info-detail">
                        <span class="glyphicon glyph-large-icon glyphicon-flag"></span>
                        {% if event.place %}
                        <span class="event-place">{{ event.place }}</span>
                        <a class="event-place-map"
                           title="{% trans "See this place in Google Maps" %}"
                           href="http://maps.google.com/?q={{ event.place }}"
                           target="_blank" rel="tooltip" data-toggle="tooltip"
                           data-placement="top"><span
                                class="glyphicon glyphicon-map-marker"></span>
                        </a>
                        {% else %}
                        <span class="event-place">{% trans "Venue unfixed" %}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-xs-4 page-header-right">
            <div class="event-status-control">
                {# event.number_restriction が設定されている場合は「あと何人」参加可能かを計算し変数に代入 #}

                {% if event.number_restriction %}
                  {% expr event.number_restriction - event.attendees.count() as remaining_attendees_restriction %}
                {% else %}
                  {% expr 0 as remaining_attendees_restriction %}
                {% endif %}

                {% if not event.is_active %}
                {# イベントがすでに終了している #}
                    <p class="event-closed event-status">
                    {% trans "This event already has been closed." %}
                    </p>

                {% elif user has 'events.attend_event' of event %}
                    {# 参加できる状態 #}

                    {# イベントに参加する #}
                    <a href="{% url "events_event_attend" event.pk %}"
                       class="btn btn-success btn-large btn-lg post-link">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>{% trans "Attend this event" %}</span>
                        <form method="POST" style="display: none;">{% csrf_token %}</form>
                    </a>
                    {% if event.number_restriction %}
                    {% spaceless %}
                      <p class="event-join-count">
                        {% blocktrans count counter=remaining_attendees_restriction %}Only one more person can join this event{% plural %}{{ counter }} more people can join this event{% endblocktrans %}
                      </p>
                    {% endspaceless %}
                    {% endif %}

                {% elif user has 'events.delete_event' of event %}
                    {# イベント管理者向け #}
                    {% if event.is_over_restriction or event.is_over_deadline %}
                        {# 参加者を締め切った #}
                        <p class="event-closed event-status">{% trans "The participation has been closed" %}</p>
                    {% else %}
                        {# 参加者募集中 #}
                        <p class="event-recruit event-status">{% trans "Call for participats" %}</p>
                        {% if event.number_restriction %}
                        {% spaceless %}
                          <p class="event-join-count">
                            {% blocktrans count counter=remaining_attendees_restriction %}Only one more person can join this event{% plural %}{{ counter }} more people can join this event{% endblocktrans %}
                          </p>
                        {% endspaceless %}
                        {% endif %}
                    {% endif %}

                {% elif user has 'events.quit_event' of event %}
                    {# イベント参加者 #}

                    {# イベントから抜ける #}
                    <a href="{% url "events_event_quit" event.pk %}"
                       class="btn btn-danger btn-large btn-lg post-link">
                        <span class="glyphicon glyphicon-log-out event-attend-icon"></span><span>{% trans "Withdraw from the event" %}</span>
                        <form method="POST" style="display: none;">{% csrf_token %}</form>
                    </a>

                {% else %}
                    {% if event.is_over_restriction or event.is_over_deadline %}
                        {# 参加を締め切った #}
                        <p class="event-closed event-status">{% trans "The participation has been closed" %}</p>
                    {% else %}
                        {# 外部ユーザ向け #}
                        {# イベントへの参加にはログインする必要がある #}
                        <p class="event-outside event-status">{% trans "You need to login to join the event." %}</p>
                    {% endif %}

                {% endif %}

                {% if event.attendance_deadline %}
                    <dl>
                        <dt class="attendance-deadline">{% trans "Participation deadline" %}</dt>
                        <dd class="attendance-deadline">
                            <span>{{ event.attendance_deadline | date:"Y年m月d日" }}{% trans "utill" %}</span>
                        </dd>
                    </dl>
                {% else %}
                    <p class="attendance-deadline">{% trans "No participation deadline" %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content-main %}
    <article class="markdown">
        {{ object.body | kfm }}
    </article>
    {% include "components/star_container.html" %}
    {% include "comments/components/comment_items.html" %}
    {% include "comments/components/comment_form.html" %}
    {% include "components/social.html" %}
{% endblock %}
{% block content-aside %}
    <div class="event-member-list">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Organizer" %}</h2>
            </div>
            <a href="{{ object.organizer.get_absolute_url }}"
               class="list-group-item member-list-organizer">
                <img src="{{ object.organizer.get_middle_avatar }}"
                     alt="{{ object.organizer.nickname }} Avatar"
                     class="avatar avatar-middle"/> {{ object.organizer.nickname }}
            </a>
        </div>

        {% if event.active_attendees.count > 1 %}
        <div class="panel panel-default">
            <div class="panel-heading event-member-head">
                <h2 class="panel-title">{% trans "Attendees" %}</h2>
                <p>
                    {# 参加者全員の人数から主催者を引いている #}
                    {% blocktrans count counter=event.active_attendees.count|add:"-1" %}There is one attendee.{% plural %}There are {{ counter }} attendees.{% endblocktrans %}
                </p>
            </div>
            <ul class="list-group">
                {% for attendee in event.active_attendees %}
                    {% if attendee != object.organizer %}
                        <a href="{{ attendee.get_absolute_url }}"
                           class="list-group-item ">
                            <img src="{{ attendee.get_middle_avatar }}"
                                 alt="{{ attendee.nickname }} Avatar"
                                 class="avatar avatar-middle"/> {{ attendee.nickname }}
                        </a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>

    {% if user has 'events.change_event' of event %}
        <div id="event-administration" class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Administration" %}</h2>
            </div>
            <div class="list-group">
                {% if user has 'events.change_event' of object %}
                    <a class="list-group-item"
                       href="{% url "events_event_update" object.pk %}"><span
                            class="glyphicon glyphicon-pencil"></span> {% trans "Update the event" %}
                    </a>
                {% endif %}
                {% if user has 'events.delete_event' of object %}
                    <a class="list-group-item list-group-item-danger post-link"
                       href="{% url "events_event_delete" object.pk %}"
                       confirm-message="{% trans "Do you want to delete the event?" %}">
                        <span class="glyphicon glyphicon-remove"></span> {% trans "Delete the event" %}
                        <form method="POST" style="display: none;">{% csrf_token %}</form>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
