[submodule "src/statics/vendor/bootstrap"]
	path = src/statics/vendor/bootstrap
	url = https://github.com/kawazrepos/bootstrap.git
[submodule "src/statics/vendor/datetimepicker"]
	path = src/statics/vendor/datetimepicker
	url = https://github.com/xdan/datetimepicker
[submodule "src/statics/vendor/bootstrap-growl"]
	path = src/statics/vendor/bootstrap-growl
	url = https://github.com/ifightcrime/bootstrap-growl
[submodule "src/statics/vendor/angular-file-upload"]
	path = src/statics/vendor/angular-file-upload
	url = https://github.com/danialfarid/angular-file-upload
[submodule "src/statics/vendor/jquery-cookie"]
	path = src/statics/vendor/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
