[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = git://github.com/kawazrepos/bootstrap.git
[submodule "src/kawaz/statics/vendor/angular-file-upload"]
	path = src/kawaz/statics/vendor/angular-file-upload
	url = git://github.com/danialfarid/angular-file-upload.git
