pyyaml
pytz
pillow
markdown2==2.2.2
djangorestframework
django-permission>=0.7.1
django-filter
django-roughpages>=0.1.2
django-thumbnailfield>=0.2.0
django-inspectional-registration>=0.4.1
django-crispy-forms
honcho
beautifulsoup4
httplib2
-e git+https://github.com/enorvelle/GoogleApiPython3x.git@dd92ed3d676581f486521d66c6de88351a0e67fe#egg=google_api_python_client
