{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
    <div class="page-header">
        <h1>{% trans "Permission denied" %}</h1>
    </div>
    <img src="{% static "img/error/403.png" %}" alt="{% trans "Permission denied" %}">
    <div class="alert alert-warning">
        {% blocktrans %}You are not permitted to access this page.{% endblocktrans %}
        <p>
            <a href="/" class="btn btn-success">{% trans "Back to top" %}</a>
        </p>
    </div>
{% endblock %}
