<!DOCTYPE html>
<html ng-app="kawaz">
<head>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
    <title>Kawaz - {% block title %}{% trans "Sapporo Game Creators' Community Kawaz" %}札幌ゲーム製作者コミュニティ{% endblock %}</title>
</head>
</body>
<div class="container">
    <div class="page-header">
        <h1>{% trans "Permission denied" %}</h1>
    </div>
    <img src="{% static "img/error/500.png" %}" alt="{% trans "Internal Server Error" %}">
    <div class="alert alert-warning">
        <p>
            <a href="/" class="btn btn-success">{% trans "Back to top" %}</a>
        </p>
    </div>
</div>
</body>
</html>
