{% load staticfiles %}
{% load i18n %}
{% load utils %}
{% load compress %}
<!DOCTYPE html>
<html ng-app="kawaz">
<head>
    {% compress css %}
        {% block pre_css %}
            <link rel="stylesheet" href="{% static "vendor/lightbox/css/lightbox.css" %}" media="screen">
            <link rel="stylesheet" href="{% static "vendor/pygments-css/friendly.css" %}" media="screen">
            <link rel="stylesheet" href="{% static "vendor/chosen_v1.2.0/chosen.min.css" %}" media="screen">
            <link type="text/less" rel="stylesheet" href="{% static "less/main.less" %}" media="screen">
            <link type="text/less" rel="stylesheet" href="{% static "less/components.less" %}" media="screen">
            <link type="text/less" rel="stylesheet" href="{% static "less/social.less" %}" media="screen">
            <link type="text/less" rel="stylesheet" href="{% static "less/form.less" %}" media="screen">
            <link type="text/less" rel="stylesheet" href="{% static "less/markdown.less" %}" media="screen">
            <link type="text/less" rel="stylesheet" href="{% static "less/comment.less" %}" media="screen">
            <link type="text/less" rel="stylesheet" href="{% static "less/star.less" %}" media="screen">
        {% endblock %}
    {% endcompress %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
    <title>Kawaz - {% block title %}{% trans "Sapporo Game Creators' Community Kawaz" %}{% endblock %}</title>
    {% block twittercard %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@kawazinfo" />
        {# twitter:title は70文字まで #}
        <meta name="twitter:title" content="{% block twittercard_title %}{% trans "Sapporo Game Creators' Community Kawaz" %}{% endblock %}" />
        {# twitter:description は200文字まで #}
        <meta name="twitter:description" content="{% block twittercard_description %}{% trans "View the contents on Web." %}{% endblock %}" />
        {% get_current_site as site %}
        <meta name="twitter:url" content="{% block twittercard_url %}https://{{ site.domain }}{{ request.path }}{% endblock %}" />
    {% endblock %}
    {% get_current_site as site %}
    {% block ogp %}
        <meta property="og:title" content="札幌ゲーム製作者コミュニティKawaz" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="札幌を中心に活動するゲーム開発コミュニティです" />
        <meta property="og:url" content="{{ site.domain }}" />
    {% endblock %}
    <meta property="og:url" content="{{ site.domain }}{{ request.path }}" />
    <meta property="og:site_name" content="札幌ゲーム製作者コミュニティKawaz" />
    <meta property="og:locale" content="ja_JP" />
</head>
{% include "components/fb-header.html" %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <a class="navbar-brand logo-header" href="/">
                <p class="logo-header-text">札幌ゲーム製作者コミュニティKawaz</p>
            </a>

        <ul class="nav navbar-nav">
            <li class="{% active '^/?$' %}"><a href="/">{% trans "Home" %}</a></li>
            <li class="{% active '^/products.+' %}"><a href="{% url "products_product_list" %}">{% trans "Products" %}</a></li>
            <li class="{% active '^/events.+' %}"><a href="{% url "events_event_list" %}">{% trans "Events" %}</a></li>
            <li class="{% active '^/blogs.+' %}"><a href="{% url "blogs_entry_list" %}">{% trans "Blog" %}</a></li>
            <li class="{% active '^/projects.+' %}"><a href="{% url "projects_project_list" %}">{% trans "Projects" %}</a></li>
            <li class="{% active '^/members.+' %}"><a href="{% url "personas_persona_list" %}">{% trans "Members" %}</a></li>
            <li class="{% active '^/helps.+' %}"><a href="/helps/">{% trans "Helps" %}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right header-button">
            <li class="dropdown">
                {% if user.is_authenticated %}
                    {# ログインユーザー向け #}
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <img class="avatar small" src="{{ user.get_small_avatar }}">
                            <span class="header-user-nickname">{{ user.nickname }}</span><b class="caret"></b>
                        </button>
                        <ul class="dropdown-menu authenticated-menu" role="menu">
                            <li><a href="{{ user.get_absolute_url }}"><span class="glyphicon glyphicon-home"></span> {% trans "View profile" %}</a></li>
                            <li><a href="{% url "blogs_entry_author_list" author=user.username %}"><span class="glyphicon glyphicon-file"></span>{% trans "My entries" %}</a></li>
                            <li><a href="/drafts"><span class="glyphicon glyphicon-inbox"></span>{% trans "Manage drafts" %}</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="{% url "personas_profile_update" %}"><span class="glyphicon glyphicon-pencil"></span>{% trans "Edit profile" %}</a></li>
                            <li><a href="{% url "personas_persona_update" %}"><span class="glyphicon glyphicon-user"></span>{% trans "Edit user information" %}</a></li>
                            <li><a href="{% url "password_change" %}"><span class="glyphicon glyphicon-wrench"></span>{% trans "Change password" %}</a></li>
                            {% if user.is_staff or user.is_superuser %}
                                <li role="presentation" class="divider"></li>
                            {% endif %}
                            {% if user.is_staff %}
                                <li><a href="/central-dogma/" target="_blank"><span class="glyphicon glyphicon-cog"></span>{% trans "Central Dogma" %}</a></li>
                                <li><a href=https://www.google.com/analytics/reporting/?reset=1&amp;id=38943028" target="_blank"><span class="glyphicon glyphicon-stats"></span>{% trans "Marduk Institute" %}</a></li>
                            {% endif %}
                            {% if user has 'personas.assign_role_persona' %}
                                {% if user.is_superuser %}
                                    <li>
                                        <a class="post-link"
                                           href="{% url "personas_persona_assign_seele" %}">
                                            <span class="glyphicon glyphicon-tower"></span>{% trans "Demote to 'Seele'" %}
                                            <form method="POST" style="display: none;">{% csrf_token %}</form>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="post-link"
                                           confirm-message="{% trans "!CAUTION! Promoting to 'Adam' is strongly not recommended, for you will have ANY permissions to ANY objects in this system, which means you potentially cause critical damages on the system. Are you sure you want to promote?" %}"
                                           href="{% url "personas_persona_assign_adam" %}">
                                            <span class="glyphicon glyphicon-tower"></span>{% trans "Promote to 'Adam'" %}
                                            <form method="POST" style="display: none;">{% csrf_token %}</form>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            <li role="presentation" class="divider"></li>
                            <li><a class="logout-link" href="{% url "logout" %}?next={{ request.path }}"><span class="glyphicon glyphicon-log-out"></span>{% trans "Log out" %}</a></li>
                        </ul>
                    </div>
                {% else %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            {% trans "Log in" %} <b class="caret"></b>
                        </button>
                        <ul class="dropdown-menu anonymous-menu" role="menu">
                            {% include "components/login_form.html" %}
                        </ul>
                    </div>
                {% endif %}
            </li>
        </ul>
        <!--<form class="nav navbar-form navbar-right" role="search">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>-->
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
{% block carousel %}
{% endblock %}
<div class="container">
    {% block messages %}
        {% for message in messages %}
            {# message.coffeeでポップアップを生成する #}
            <div class="message alert alert-{{ message.tags }}" message-tag="{{ message.tags }}" style="display: none;">{{ message }}</div>
        {% endfor %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% include "components/attachment_form.html" %}
</div>
<div id="footer">
    <div class="container">
        {% block footer %}
        {% endblock %}
    </div>
    <address class="text-muted text-center">
        This website is powered by <a href="http://www.djangoproject.com/" target="_blank" class="django">Django</a> on <a href="http://cloud.nifty.com/" target="_blank" class="django">NIFTY Cloud</a>.<br />
        Copyright &copy; 2009-{% now "Y" %} Kawaz. All rights reserved.
    </address>
</div>
{% compress js %}
{% block post_javascript %}
    {# Google Analytics #}
    {% include "components/google_analytics.html" with analytics_id='UA-23902196-1' %}
    <script src="{% static "vendor/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "vendor/jquery-cookie/src/jquery.cookie.js" %}"></script>
    <script src="{% static "vendor/jQuery.serializeObject/jquery.serializeObject.js" %}"></script>
    <script src="{% static "vendor/angular/angular.js" %}"></script>
    <script src="{% static "vendor/angular/angular-sanitize.js" %}"></script>
    <script src="{% static "vendor/angular-file-upload/dist/angular-file-upload.js" %}"></script>
    <script src="{% static "vendor/lightbox/js/lightbox.js" %}"></script>
    <script src="{% static "vendor/mace/build/mace.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "vendor/bootstrap-growl/jquery.bootstrap-growl.js" %}"></script>
    <script src="{% static "vendor/chosen_v1.2.0/chosen.jquery.min.js" %}"></script>
    <script type="text/coffeescript" src="{% static "coffee/angular.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "coffee/social.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "coffee/star.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "coffee/editor.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "coffee/tooltip.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "coffee/post.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "coffee/message.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "coffee/lightbox.coffee" %}"></script>
{% endblock %}
{% endcompress %}
{% include "components/god_stamp.html" %}
</body>
</html>
