{% extends "authenticated_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ object.title }}{% endblock %}
{% block pre_css %}
{{ block.super }}
    <link type="text/less" rel="stylesheet" href="{% static "less/blogs.less" %}" media="screen">
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url "blogs_entry_list" %}">{% trans "Blog" %}</a></li>
    <li><a href="{% url "blogs_entry_author_list" author=object.author %}">{{ object.author.nickname }}{% trans "'s Entries" %}</a></li>
    <li>{{ object.title }}</li>
{% endblock %}
{% block content %}
    {{ block.super }}
    {% include "blogs/components/entry_detail.html" %}
    {% include "components/social.html" %}
{% endblock %}
