{% extends "form_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% if object %}
        {% blocktrans with title=object.title %}Edit {{ title }}{% endblocktrans %}
    {% else %}
        {% trans "Create a new blog entry" %}
    {% endif %}
{% endblock %}

{% block content-header %}
    <div class="page-header">
        {% if object %}
            <h1>{% blocktrans with title=object.title %}Edit {{ title }}{% endblocktrans %}</h1>
        {% else %}
            <h1>{% trans "Create a new blog entry" %}</h1>
        {% endif %}
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
        <li><a href="{% url "blogs_entry_list" %}">{% trans "Blog" %}</a></li>
    {% if object %}
        <li><a href="{% url "blogs_entry_author_list" author=object.author %}">{{ object.author.nickname }}{% trans "'s blog entries" %}</a></li>
        <li><a href="{% url "blogs_entry_update" author=object.author.username pk=object.pk %}">{% blocktrans with title=object.title %}Edit {{ title }}{% endblocktrans %}</a></li>
    {% else %}
        <li><a href="{% url "blogs_entry_create" author=user.username %}">{% trans "Create a new blog entry" %}</a></li>
    {% endif %}
{% endblock %}

{% block form_header %}
    <div ng-controller="BlogCategoryController" ng-init="endpoint='{% url 'category-list' %}';">
        <div id="blog-category-dialog" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <form ng-submit="createCategory()" name="categoryForm">
                    <div class="modal-content">
                        <div class="modal-body">
                            <input type="text" ng-model="categoryLabel" placeholder="例：日記" required>
                            <input type="submit" ng-disabled="!categoryForm.$valid" class="btn btn-primary btn-sm" value="カテゴリの追加">
                            <p>編集に戻るにはフォーム以外の部分をクリックしてください</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block tab-content %}
    <div class="tab-pane active" id="editor-main" ng-init="previewURL = '{% url 'blogs_entry_preview' %}';">
        {% crispy form %}
        <p><a href="#" class="blog-category-add-button" data-toggle="modal" data-target="#blog-category-dialog"><span class="glyphicon glyphicon-plus"></span>新しいカテゴリを作る</a></p>
    </div>
{% endblock %}
{% block post_javascript %}
    {{ block.super }}
    <script type="text/coffeescript" src="{% static "coffee/category.coffee" %}"></script>
{% endblock %}
