{% extends "twopane.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ object.title }}{% endblock %}

{% block pre_css %}
{{ block.super }}
    <link type="text/less" rel="stylesheet" href="{% static "less/blogs.less" %}" media="screen">
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url "blogs_entry_list" %}">{% trans "Blog" %}</a></li>
    <li><a href="{% url "blogs_entry_author_list" author=object.author %}">{{ object.author.nickname }}{% trans "'s blog entries" %}</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endblock %}

{% block content-main %}
    {{ block.super }}
    {% include "blogs/components/entry_detail.html" %}
    {% include "components/star_container.html" %}
    {% include "comments/components/comment_items.html" %}
    {% include "comments/components/comment_form.html" %}
    {% include "components/social.html" %}
{% endblock %}
{% block content-aside %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-pencil"></span>
            {% trans "Blog author" %}
        </div>
        <div class="panel-body author-info">
            <div class="row">
                <a class="author-icon col col-lg-4 col-xs-3" href="{{ object.author.get_absolute_url }}">
                    <img src="{{ object.author.get_middle_avatar }}" alt="{{ object.author.nickname }} Avatar blog-avatar" class="avatar avatar-middle"/>
                </a>
                <p class="author-quotes col col-lg-8 col-xs-9">{{ object.author.quotes }}</p>
            </div>
            <a class="author-name" href="{{ object.author.get_absolute_url }}">
                {{ object.author.nickname }}(id: {{ object.author }})
            </a>

        </div>
    </div>
    {% if user has 'blogs.change_entry' of object or user has 'blogs.delete_entry' of object %}
        <div class="panel panel-default blog-administration">
          <div class="panel-heading blog-administration-head">
              <h2 class="panel-title">{% trans "Administration" %}</h2>
          </div>
          <div class="list-group">
              {% if user has 'blogs.change_entry' of object %}
            <a class="list-group-item" href="{% url 'blogs_entry_update' author=user.username pk=object.pk %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit the blog entry" %}</a>
                {% endif %}
                {% if user has 'blogs.delete_entry' of object %}
                <a class="list-group-item list-group-item-danger post-link" href="{% url 'blogs_entry_delete' author=user.username pk=object.pk %}" confirm-message="{% trans "Do you want to delete this entry?" %}"><span class="glyphicon glyphicon-remove"></span>
                    {% trans "Delete the blog entry" %}
                    <form method="POST" style="display: none;">{% csrf_token %}</form>
                </a>
                {% endif %}
          </div>
        </div>
    {% endif %}
{% endblock %}
