<div class="text-center">
    <ul class="pagination">
        <li{% if not page_obj.has_previous %} class="disabled"{% endif %}>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% else %}
                <a>&laquo;</a>
            {% endif %}
        </li>
        {% for page_number in paginator.page_range %}
            <li {% if page_obj.number == page_number %} class="active"{% endif %}><a href="?page={{ page_number }}">{{ page_number }}</a></li>
        {% endfor %}
        <li{% if not page_obj.has_next %} class="disabled"{% endif %}>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% else %}
                <a>&laquo;</a>
            {% endif %}
        </li>
    </ul>
</div>

