{% load stars_tags %}
{% load staticfiles %}
<section class="star-container" ng-controller="StarController">
    <script type="text/ng-template" id="star-item.html">
        <div class="star-user">
            <a ng-href="[[ star.author.url ]]">
                <img class="avatar" ng-src='{{ MEDIA_URL }}/[[ star.author.avatar]]'>
                {% if user has 'stars_star_add' of object %}
                    <a href="#" class="star-remove" ng-click="deleteStar(star);" ng-show="star.visible"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            </a>
        </div>
        <div class="star-popup" ng-show="star.visible" ng-style="popupPosition">
            <p class="nickname" ng-bind="star.author.nickname"></p>
            <hr ng-show="star.quote">
            <p class="quote" ng-bind="'「[[star.quote]]」'" ng-show="star.quote"></p>
        </div>
    </script>
    {% get_star_endpoint object as endpoint %}
    <input type="hidden" ng-model="endpoint" ng-init="endpoint='{{ endpoint }}';fetchStars();">
    <div class="star-container">
        <div class="row">
            <div class="col-lg-1">
                <button class="btn btn-primary btm-sm add-star-button" ng-click="addStar($event);"><span class="glyphicon glyphicon-star"></span>イイネ</button>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li class="star"
                        ng-repeat="star in visibleStars"
                        ng-include=" 'star-item.html' "
                        ng-mouseover="showPopup($event, star);"
                        ng-mouseout="star.visible = false;"></li>
                    <li class="star-read-more" ng-bind="readMoreCount" ng-click="openReadMore();" ng-hide="isReadMoreOpened"></li>
                </ul>
            </div>
        </div>
    </div>
</section>