{% extends "twopane.html" %}
{% load staticfiles %}
{% load i18n %}
{% load utils %}
{% block title %}{% trans "Archived projects" %}{% endblock %}
{% block pre_css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{% static "less/projects.less" %}" media="screen">
{% endblock %}
{% block content-main %}
    <div class="page-header">
        <h1>{% trans "Archived projects" %}</h1>
        <small>{% blocktrans count counter=paginator.count %}There is one archived project.{% plural %}There are {{ counter }} archived projects.{% endblocktrans %}</small>
    </div>
    <div class="row project-list-archived list-group">
        {% for project in object_list %}
            {% include "projects/components/list-item-archived.html" %}
        {% endfor %}
    </div>
    {% include "components/paginator.html" %}
{% endblock %}
{% block content-aside %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Order" %}</h3>
        </div>
        <div class="list-group">
            <a href="{{ request.url }}?o=title" class="list-group-item {% active ".+\?o=title" %}">{% trans "Title" %}</a>
            <a href="{{ request.url }}?o=created_at" class="list-group-item {% active ".+\?o=created_at" %}">{% trans "Created at" %}</a>
            <a href="{{ request.url }}?o=category" class="list-group-item {% active ".+\?o=category" %}">{% trans "Category" %}</a>
            <a href="{{ request.url }}?o=status" class="list-group-item {% active ".+?o=status" %}">{% trans "Status" %}</a>
        </div>
    </div>
{% endblock %}
