{% extends "twopane.html" %}
{% load staticfiles %}
{% load i18n %}
{% load projects_tags %}

{% block title %}{{ object.title }}{% endblock %}
{% block pre_css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{% static "less/projects.less" %}" media="screen">
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'projects_project_list' %}">{% trans "Projects" %}</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endblock %}

{% block content-header %}
  <div id="project-detail-wrap">
    <div class="page-header project-detail-title{% if project.pub_state == "protected" %} bg-protected{% endif %}">
      {% if project.pub_state == 'public' %}
      <h1>{{ project.title }}</h1>
      {% elif project.pub_state == 'protected' %}
      <img src="{% static "img/lock-icon1.png" %}" class="project-lock-icon" alt="protected project"/>
      <h1>{{ project.title }}</h1>
      {% endif %}
    </div>

    <div class="row" id="project-header">
      <div class="col col-lg-4 col-xs-12 project-detail-thumbnail">
        <img class="group list-group-image" src="{{ project.get_huge_icon }}" alt="{{ project.title }} Thumbnail" />
      </div>
      <div class="col col-lg-8 col-xs-12 project-head-info">
        <dl class="row">
          <dt class="col col-lg-3 col-xs-4">{% trans "Status" %}</dt>
          <dd class="col col-lg-9 col-xs-8">{{ project.get_status_display }}</dd>
        </dl>
        <dl class="row">
          <dt class="col col-lg-3 col-xs-4">{% trans "Category" %}</dt>
          <dd class="col col-lg-9 col-xs-8">
          {% if project.category %}
            {{ project.category }}
          {% else %}
            <span class="none-set">{% trans "None" %}</span>
          {% endif %}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col col-lg-3 col-xs-4">{% trans "Tracker" %}</dt>
          <dd class="col col-lg-9 col-xs-8">
          {% if project.tracker %}
          <a href="{{ project.tracker }}">{{ project.tracker }}</a>
          {% else %}
            <span class="none-set">{% trans "None" %}</span>
          {% endif %}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col col-lg-3 col-xs-4">{% trans "Repository" %}</dt>
          <dd class="col col-lg-9 col-xs-8">
          {% if project.repository %}
            <a href="{{ project.repository }}">{{ project.repository }}</a>
          {% else %}
            <span class="none-set">{% trans "None" %}</span>
          {% endif %}
          </dd>
        </dl>
      </div>
    </div>
  {% endblock %}

  {% block content-main %}
      {# プロジェクトが完成していたら、プロダクト作成を促す #}
      {% if user has 'projects.change_project' of project and project.product == None and project.status == 'done' %}
          <div class="alert alert-warning release-alert">
              {% blocktrans %}
                  <p>The status of this project is specified as 'done' but no product of this project exists.</p>
                  <p>Please make a new product of this project to share the product release to external users.</p>
              {% endblocktrans %}
              <div>
                  <a class="btn btn-success btn-lg" href="{% url "products_product_create" %}?project={{ project.pk }}">{% trans "Release product now" %}</a>
                  <a href="/helps/products/" class="learn-product">{% trans "Learn about product" %}</a>
              </div>
          </div>
      {% endif %}
      <article class="markdown project-article">
          {{ project.body | kfm }}
    </article>
    {% include "components/star_container.html" %}
    {% include "comments/components/comment_items.html" %}
    {% include "comments/components/comment_form.html" %}
    {% include "components/social.html" %}
  {% endblock %}
  {% block content-aside %}
    {% if user has 'projects.join_project' of project %}
    <a href="{% url 'projects_project_join' pk=project.pk %}" class="btn btn-success btn-primary btn-lg">
      <span class="glyphicon glyphicon-plus"></span>
      <span>{% trans "Join the project" %}</span>
        <form method="POST" style="display: none;">{% csrf_token %}</form>
    </a>
    {% endif %}

    <div class="member-list panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{% trans "Joined members" %}</h2>
      </div>
      <div class="list-group">
      {% for member in object.members.all %}
        <a href="{{ member.get_absolute_url }}" class="list-group-item">
          <span class="administrator-icon">
            <img class="avatar avatar-middle" src="{{ member.get_middle_avatar }}" alt="{{ member.nickname }}">
              {% if object.administrator == member %}<span title="{% trans 'Administrator of this project' %}" rel="tooltip" data-toggle="tooltip" data-placement="top" class="administrator-icon-star glyphicon glyphicon-star"></span>{% endif %}
          </span>
          {{ member.nickname }}さん
        </a>
      {% endfor %}
      </div>
    </div>

    {% if user has 'projects.quit_project' of project %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Event operations" %}</h2>
        </div>
        <a class="list-group-item list-group-item-danger post-link" href="{% url "projects_project_quit" pk=project.pk %}">
            <span class="glyphicon glyphicon-log-out"></span> {% trans "Leave the project" %}
            <form method="POST" style="display: none;">{% csrf_token %}</form>
        </a>
      </div>
    {% endif %}

    {% if user has 'projects.add_project' or user has 'projects.change_project' of object or user has 'projects.delete_project' of object %}
      <div class="panel panel-default">
          <div class="panel-heading">
              <h2 class="panel-title">{% trans "Administration" %}</h2>
          </div>
          <div class="list-group">
              {% if user has 'projects.add_project' %}
                  <a class="list-group-item list-group-item-success" href="{% url "projects_project_create" %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Create a new project" %}</a>
              {% endif %}
              {% if user has 'projects.change_project' of object %}
                  <a class="list-group-item" href="{% url "projects_project_update" object.pk %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Update the project" %}</a>
              {% endif %}
              {% if user has 'projects.delete_project' of object %}
                  <a class="list-group-item list-group-item-danger"
                     href="{% url "projects_project_delete" object.pk %}"
                     confirm-message="{% trans "Do you want to delete the project?" %}">
                      <span class="glyphicon glyphicon-remove"></span> {% trans "Delete the project" %}
                      <form method="POST" style="display: none;">{% csrf_token %}</form>
                  </a>
              {% endif %}
          </div>
      </div>
    {% endif %}
</div>
{% endblock %}
