{% extends "authenticated_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load projects_tags %}
{% block title %}{% trans "Projects" %}{% endblock %}
{% block pre_css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{% static "less/projects.less" %}" media="screen">
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        {% block breadcrumb %}
            <li><a href="/">Home</a></li>
            <li><a href="{% url "projects_project_list" %}">{% trans "Projects" %}</a></li>
        {% endblock %}
    </ol>
    <div class="page-header project-list-header row">
        <h2 class="header-left col col-lg-8 col-xs-12">
            {% trans "Active projects" %}
            <p><small>現在活動中のプロジェクトです</small></p>
        </h2>

        {% if user has 'projects.add_project' %}
        <div class="col col-lg-4 col-xs-12 header-right">
            <a href="{% url "projects_project_create" %}" class="btn btn-success btn-primary btn-lg" role="button">
            <span class="glyphicon glyphicon-plus"></span>
            プロジェクトを発足する</a>
        </div>
        {% endif %}
    </div>

    <div class="row list-group tiled-project-list">
        {% get_projects 'active' as active_projects %}
        {% for project in active_projects %}
        <div class="project-list-item col-xs-12 col-md-3">
            {% include "projects/components/list-item.html" %}
        </div>
        {% endfor %}
    </div>
    <div class="page-header project-list-header">
        <h2>
            {% trans "Planning projects" %}
            <p><small>現在企画中のプロジェクトです</small></p>
        </h2>
    </div>
    <div class="alert alert-warning">
        ここには「企画中」のプロジェクトのうち、作成されてから90日以内のもののみが表示されています。<br />
        発足してから90日以内に「活動中」に移行しない場合は「アーカイブされたプロジェクト」に移動します。
    </div>

    <div class="row project-list list-group tiled-project-list">
        {% get_projects 'recently_planned' as planning %}
        {% for project in planning %}
        <div class="project-list-item col-xs-12 col-md-3">
            {% include "projects/components/list-item.html" %}
        </div>
        {% empty %}
        <div class="col-xs-12 col-md-12">
            <div class="alert alert-info">
                <p>該当するプロジェクトは見つかりませんでした</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="page-header project-list-header">
        <h2>
            {% trans "Archived projects" %}
            <p><small>アーカイブされたプロジェクトです</small></p>
        </h2>
    </div>
    <div class="project-list-archived list-group">
        {% get_projects 'archived' as archiving %}
        {% for project in archiving|slice:":2" %}
            {% include "projects/components/list-item-archived.html" %}
        {% endfor %}
        <a href="{% url "projects_project_archives" %}" class="list-group-item" id="project-list-more">
            {% trans "See more" %}
        </a>
    </div>

{% endblock %}

{% block post_javascript %}
    {{ block.super }}
    <script type="text/javascript">
    $(function() {
        var $popover = $("[data-toggle='popover']");
        $popover.popover({
            'content' : function() {
                var $list = $(this).next('.member-list');
                return $list.html();
            }
        });
    });
    </script>
{% endblock %}
