{% extends "form_base.html" %}
{% load crispy_forms_tags %}
{% load 18n %}

{% block title %}
    {% if object %}
        <h1>{% blocktrans with title=object.title %}Edit {{ title }}{% endblocktrans %}</h1>
    {% else %}
        <h1>{% trans "Create New Project" %}</h1>
    {% endif %}
{% endblock %}

{% block content-header %}
    <div class="page-header">
        {% if object %}
            <h1>{% blocktrans with title=object.title %}Edit {{ title }}{% endblocktrans %}</h1>
        {% else %}
            <h1>{% trans "Create New Project" %}</h1>
        {% endif %}
    </div>
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url "projects_project_list" %}">Project</a></li>
{% endblock %}
{% block tab-content %}
    <div class="tab-pane active" id="editor-main" ng-init="previewURL = '{% url 'projects_project_preview' %}';">
        {% crispy form %}
    </div>
{% endblock %}
