{{ site_name }}:

{{ user.nickname }}さん

パスワードリセットURLが生成されました。以下のURLにアクセスしてパスワードをリセットしてください。

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{# TODO {{ settings.PASSWORD_RESET_TIMEOUT_DAYS }}日以内にパスワードをリセットしてください #}

このメールが身に覚えのない方はお手数ですが webmaster@kawaz.org までご連絡をお願いいたします。

-------------------------------------------------------
札幌ゲーム製作者コミュニティ - Kawaz

ホームページ:	http://www.kawaz.org/
責任者:		{{ GEEKDRUMS }}
連絡先:		webmaster@kawaz.org
-------------------------------------------------------
