{% load i18n %}
<div class="blog-article{% if object.pub_state == "protected" %} bg-protected{% endif %}">
    <div class="blog-article-header">
            <h2>
                <p>
                    <small>
                        <time datetime="{{ object.created_at|date:"c" }}">{{ object.created_at|date:"Y/m/d" }}</time>
                        <a href="{{ object.author.get_absolute_url }}">
                            <img src="{{ object.author.get_small_avatar }}" alt="{{ object.author.nickname }} Avatar" rel="tooltip" data-toggle="tooltip" data-placement="top" title="{{ object.author.nickname }}" class="avatar avatar-small" />
                        </a>
                        {% if object.pub_state == "protected" %}
                            <span class="glyphicon glyphicon-lock text-protected" rel="tooltip" data-toggle="tooltip" data-placement="top" title="このお知らせは内部公開に設定されています"></span>
                        {% endif %}
                    </small>
                </p>
                <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
            </h2>
        <p class="badge">{{ object.category.label }}</p>
    </div>
    <article class="markdown">
        {{ object.body | kfm | truncatechars_html:140}}
    </article>
</div>
