{% load comments %}
{% load crispy_forms_tags %}
{% get_comment_form for object as comment_form %}
<div class="comment-form{% if request.user.is_authenticated %} authenticated-form{% endif %}">
    <form class="form-horizontal" method="POST" action="{% comment_form_target %}">{% csrf_token %}
        <div class="row">
            {{ comment_form | crispy }}
            <div class="form-group col col-lg-12">
                <input type="submit" class="btn btn-primary" value="投稿">
            </div>
        </div>
    </form>
</div>
