{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
    {% if object %}
        <h1>{{ object.title }}を編集する</h1>
    {% else %}
    <h1>新しいプロダクトを作成</h1>
    {% endif %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/products/">Products</a></li>
    </ol>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#form">入力フォーム</a></li>
        <li><a href="#preview">プレビュー</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="form">
            <form class="form-horizontal" role="form" method="POST" action=".">{% csrf_token %}
                {{ form | bootstrap_horizontal }}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="公開する" />
                </div>
            </form>
        </div>
        <div id="preview" class="tab-pane">
            プレビュー
        </div>
    </div>
{% endblock %}
