{% extends "form_base.html" %}
{% load bootstrap %}
{% block content-header %}
    {% if object %}
        <h1>{{ object.title }}を編集する</h1>
    {% else %}
    <h1>新しい作品を公開する</h1>
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li><a href="/products/">Products</a></li>
{% endblock %}
{% block tab-content %}
    <div class="tab-pane active" id="editor-main">
        <form class="form-horizontal" role="form" method="POST" action=".">{% csrf_token %}
            {{ form | bootstrap_horizontal }}
            <input type="submit" class="btn btn-primary btn-lg" value="公開する" />
        </form>
    </div>
    <div id="editor-preview" class="tab-pane">
        プレビュー
    </div>
{% endblock %}
