{% load activities_tags %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
{% compress css %}
    <link type="text/less" rel="stylesheet" href="{% static "less/main.less" %}" media="screen">
    <link type="text/less" rel="stylesheet" href="{% static "less/wall.less" %}" media="screen">
    {% endcompress %}
</head>

<body>

<section id="activity-container">
    <h2>Activities</h2>
    {% get_latest_activities as activities %}
    {% for activity in activities %}
        <article class="activity">
            {% render_activity activity of 'root' %}
        </article>
    {% endfor %}
</section>

</body>
</html>