{% extends "authenticated_base.html" %}

{% load i18n %}
{% load kfm %}
{% block title %}{% trans "Help" %}{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li><a href="/helps">{% trans "Help" %}</a></li>
{% endblock %}

{% block content %}
    <article class="markdown">
        {% include_kfm "markdown/helps/index.md" %}
    {% if user.is_staff %}
        {% kfm %}
## 運営メンバー向け

- [新規会員登録の承認](/helps/staff/registration/)
- [Kawaz広報ブログの書き方](/helps/how-to-pr-blog)
        {% endkfm %}
    {% endif %}
    </article>
{% endblock %}
