{% extends "twopane.html" %}

{% load activities_tags %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "My Page" %}{% endblock %}
{% block pre_css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{% static "less/wall.less" %}" media="screen">
{% endblock %}
{% block content-main %}
    <div class="page-header">
        <h2>Activities</h2>
    </div>
    <section id="activity-container">
        <div class="activity-line"></div>
        {% get_latest_activities as activities %}
        {% for activity in activities|slice:":10" %}
            <article class="activity">
                {% render_activity activity of 'root' %}
            </article>
        {% empty %}
            <div class="alert alert-info">まだ、活動はありません</div>
        {% endfor %}
    </section>

{% endblock %}
{% block content-aside %}
    <section id="wall-nav">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "New Contents" %}</h2>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="{% url "products_product_create" %}">作品の作成</a>
                <a class="list-group-item" href="{% url "events_event_create" %}">イベントの作成</a>
                <a class="list-group-item" href="{% url "projects_project_create" %}">プロジェクトの作成</a>
                <a class="list-group-item" href="{% url "blogs_entry_create" author=user.username %}">ブログの作成</a>
            </div>
        </div>
    </section>
    <section id="wall-tools">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Member Tools" %}</h2>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="{% url "products_product_create" %}">Kawaz Redmine</a>
                <a class="list-group-item" href="{% url "events_event_create" %}">Kawaz GitLab</a>
                <a class="list-group-item" href="{% url "projects_project_create" %}">Twitter @kawazinfo</a>
                <a class="list-group-item" href="{% url "blogs_entry_create" author=user.username %}">HipChat</a>
            </div>
        </div>
    </section>
{% endblock %}
