{% load i18n %}
<div class="thumbnail">
    <div class="thumbnail-inner">
        <a class="product-caption" href="{{ product.get_absolute_url }}">
            <img class="group list-group-image" src="{{ MEDIA_URL }}{{ product.thumbnail }}" style="max-width: 100%;" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">{{ product.title }}</h4>
                <ul class="platform-list">
                    {% for platform in product.platforms.all %}
                    <li><img data-toggle="tooltip" data-placement="top" data-title="{{ platform.label }}" src="{{ MEDIA_URL }}{{ platform.icon }}" alt="{{ platform.label }}" /></li>
                    {% endfor %}
                </ul>
                <div class="caption-inner">
                    <span class="btn btn-default">{% trans "More Details" %} &raquo;</span>
                </div>
            </div>
        </a>
    </div>
</div>
