{% load utils %}
{% load strip_newlines %}
{% if apps|length_is:0 %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kawazinfo" />
    {# twitter:title は70文字まで #}
    <meta name="twitter:title" content="Kawaz - {{ product.title | truncatechars:62 }}" />
    {# twitter:description は200文字まで #}
    <meta name="twitter:description" content="{{ product.description | kfm | striptags | strip_newlines:" " | truncatechars:200 }}" />
    {% get_current_site as site %}
    <meta name="twitter:url" content="{% block twittercard_url %}http://{{ site.domain }}{{ request.path }}{% endblock %}" />
    {% if product.advertisement_image %}
        <meta name="twitter:image:src" content="http://{{ site.domain }}{{ MEDIA_URL }}{{ product.advertisement_image }}" />
    {% else %}
        <meta name="twitter:image:src" content="http://{{ site.domain }}{{ MEDIA_URL }}{{ product.thumbnail }}" />
    {% endif %}
{% else %}
    <meta name="twitter:card" content="app" />
    <meta name="twitter:site" content="@kawazinfo" />
    {# twitter:description は200文字まで #}
    <meta name="twitter:description" content="{{ product.description | kfm | striptags | strip_newlines:" " | truncatechars:200 }}" />
    {% for release in apps %}
        {% if release.is_appstore %}
            <meta name="twitter:app:id:iphone" content="{{ release.app_id }}" />
        {% else %}{# is_googleplay #}
            <meta name="twitter:app:id:googleplay" content="{{ release.app_id }}" />
        {% endif %}
    {% endfor %}
{% endif %}
