{% extends "activities/projects/base.html" %}
{% block history-item %}
    {% include "components/small_avatar.html" with user=object.last_modifier render_username=False %}
    {% if title_updated %}
        「<strong>{{ activity.previous.snapshot.title }}</strong>」から「<strong>{{ object.title }}</strong>」へタイトルを変更しました
    {% elif status_updated %}
        状態を「<strong>{{ object.get_status_display }}</strong>」へ変更しました
    {% elif body_updated %}
        詳細を変更しました
    {% elif icon_updated %}
        アイコンを変更しました
    {% elif category_updated %}
        カテゴリーを「<strong>{{ object.category.label }}</strong>」に変更しました
    {% elif icon_created %}
        アイコンを設定しました
    {% else %}
        更新しました
    {% endif %}
{% endblock %}
