{% load comments %}
{% load parser %}
{% get_comment_list for object as comments %}
<div class="comment-list">
    {% for comment in comments %}
        <article class="comment-item row" id="c{{ comment.pk }}">
            <header class="col col-lg-12 comment-info">
                <div class="comment-avatar">
                    {% if comment.user.is_authenticated %}
                        {# ログインユーザーはuserのavatar #}
                        <a href="{{ comment.user.get_absolute_url }}">
                            <img src="{{ comment.user.get_middle_avatar }}" class="avatar avatar-middle" alt="@{{ comment.user.username }}">
                        </a>
                    {% else %}
                        {# 非ログインユーザーはデフォルトのアイコン #}
                        <img src="/statics/img/defaults/profile_middle.png" class="avatar avatar-middle">
                    {% endif %}
                </div>
                <div class="col col-lg-8">
                    <span class="comment-index">{{ forloop.counter }}</span>
                    {% if comment.user.is_authenticated %}
                        <span class="nickname">{{ comment.user.nickname }}</span>
                        <span class="username">(<a href="{{ comment.user.profile.get_absolute_url }}">@{{ comment.user.username }}</a>)</span>
                    {% else %}
                        <span>{{ comment.name }}</span>
                    {% endif %}
                </div>
                <div class="col col-lg-4 comment-date">
                    <time class="text-right" datetime="{{ comment.submit_date|date:'c' }}"><a href="{{ comment.get_absolute_url }}">{{ comment.submit_date|date:"Y/m/d H:i" }}</a></time>
                </div>
            </header>
            <div class="comment-body col col-lg-12 comment-body">
                {% if comment.user.is_authenticated %}
                    {# ログインユーザーはmarkdownを使える #}
                    <div class="markdown">
                        {{ comment.comment | parser }}
                    </div>
                {% else %}
                    {# 非ログインユーザーは改行のみ変換される #}
                    {{ comment.comment | linebreaksbr }}
                {% endif %}
            </div>
            <div class="comment-star col-lg-8">
                {% include "components/star_container.html" with object=comment %}
            </div>
        </article>
    {% endfor %}
</div>
