{% load comments %}
{% load i18n %}
{% load form_helper %}
{% load crispy_forms_tags %}
{% get_comment_form for object as comment_form %}
{% if request.user.is_authenticated %}
    <div class="comment-form authenticated-form">
        <form class="form-inline" action="{% comment_form_target %}" method="POST">
            {% get_form_helper 'inline_bare' as bare %}
            {% crispy comment_form bare %}
            <input type="hidden" name="next" value="{{ request.path }}" />
            <div class="form-group">
                <input type="submit" class="comment-submit btn btn-success btn-lg" value="{% trans "Post a comment" %}" />
            </div>
        </form>
    </div>
{% else %}
    <div class="alert alert-warning">
        {% trans "Participants are only allowed to comment on the entry. Please login to comment." %}
    </div>
{% endif %}
