{% load comments %}
{% load i18n %}
{% load parser %}
{% get_comment_list for object as comments %}
<div class="comment-list">
    {% for comment in comments %}
        <article class="comment-item" id="c{{ comment.pk }}">
            <header class="comment-info">
                <div class="comment-avatar">
                    {% if comment.user.is_authenticated %}
                        {# ログインユーザーはuserのavatar #}
                        <a href="{{ comment.user.get_absolute_url }}">
                            <img src="{{ comment.user.get_middle_avatar }}" class="avatar avatar-middle" alt="@{{ comment.user.username }}">
                        </a>
                    {% else %}
                        {# 非ログインユーザーはデフォルトのアイコン #}
                        <img src="/statics/img/defaults/profile_middle.png" class="avatar avatar-middle">
                    {% endif %}
                </div>
                <div class="comment-author">
                    <span class="comment-index">{{ forloop.counter }}</span>
                    {% if comment.user.is_authenticated %}
                        <span class="nickname">{{ comment.user.nickname }}</span>
                        <span class="username">(<a href="{{ comment.user.profile.get_absolute_url }}">@{{ comment.user.username }}</a>)</span>
                    {% else %}
                        <span>{{ comment.name }}</span>
                    {% endif %}
                    {# スタッフであるとき、もしくは自分の作成したコメントなら非表示にできる #}
                    {% if not comment.is_removed and user has 'django_comments.can_moderate' of comment  %}
                        <a href="{% url 'comments-delete' comment.pk %}?next={{ request.path }}" class="post-link comment-delete btn btn-sm btn-danger"
                           confirm-message="{% trans "Do you want to delete this comment?" %}">
                            <span class="glyphicon glyphicon-trash"></span>
                            <form method="POST" style="display: none;">{% csrf_token %}</form>
                        </a>
                    {% endif %}
                </div>

            </header>
            <div class="comment-body comment-body">
                {% if comment.is_removed %}
                    <span class="comment-deleted">{% trans "This comment have been deleted." %}</span>
                {% else %}
                    {% if comment.user.is_authenticated %}
                        {# ログインユーザーはmarkdownを使える #}
                        <div class="markdown">
                            {{ comment.comment | parser }}
                        </div>
                    {% else %}
                        {# 非ログインユーザーは改行のみ変換される #}
                        {{ comment.comment | linebreaksbr }}
                    {% endif %}
                {% endif %}
            </div>
            {% if not comment.is_removed %}
                <div class="comment-star">
                    {% include "components/star_container.html" with object=comment %}
                </div>
            {% endif %}
            <div class="comment-date">
                <time class="text-right" datetime="{{ comment.submit_date|date:'c' }}"><a href="{{ comment.get_absolute_url }}">{{ comment.submit_date|date:"Y/m/d H:i" }}</a></time>
            </div>

        </article>
    {% endfor %}
</div>
