{% extends "activities/personas/persona_base.html" %}
{% block history-item %}
    {% include "components/small_avatar.html" with user=object render_username=False %}
    {% if birthday_created or birthday_updated %}
        誕生日が「<strong>{{ object.birthday|date:'m/d' }}</strong>」に設定されました
    {% elif place_created or place_updated %}
        居住地域が「<strong>{{ object.place }}</strong>」に設定されました
    {% elif url_created or url_updated %}
        URLが「<a href="{{ object.url }}"><strong>{{ object.url }}</strong></a>」に設定されました
    {% elif remarks_updated %}
        自己紹介が更新されました
    {% endif %}
{% endblock %}
