{% extends "activities/base.html" %}
{% block icon %}
    <img src="{{ object.organizer.get_middle_avatar }}" class="avatar avatar-middle">
{% endblock %}
{% block body %}
    <a href="{{ object.organizer.get_middle_avatar }}">{{ object.organizer.nickname }}</a>さんが
    {% if object.get_absolute_url %}
        「<a href="{{ object.get_absolute_url }}">{{ object.title }}</a>」を
    {% else %}
        「{{ object.title }}」を
    {% endif %}
    {% block history-item %}
        作成しました
    {% endblock %}
{% endblock %}
