{% extends "form_base.html" %}
{% load bootstrap %}
{% block content-header %}
    <h1>プロフィールを編集する</h1>
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li><a href="/products/">Products</a></li>
{% endblock %}
{% block tab-content %}
    <div class="tab-pane active" id="editor-main">
        <form class="form-horizontal" role="form" method="POST" action=".">{% csrf_token %}
            {{ form | bootstrap_horizontal }}
            <div class="form-group">
                <label class="control-label col-sm-2 col-lg-2 " for="id_skills">利用サービス</label>
                    <div class="control-label col-sm-2 col-lg-2"></div>
                    <div class="control-label col-sm-10 col-lg-10">
                    <table class="table">
                        {% for account_form in formset.forms %}
                        <tr id="{{ account_form.prefix }}-row">
                            <td>
                                {% for fld in account_form.hidden_fields %}{{ fld }}{% endfor %}
                                {% if account_form.instance.pk %}{{ account_form.DELETE }}{% endif %}
                                {{ account_form.service.errors }}
                                {{ account_form.service }}
                            </td>
                            <td>{{ account_form.username }}</td>
                            <td>{{ account_form.pub_state }}</td>
                            <td><div>削除</div></td>
                        </tr>
                        {% endfor %}
                    </table>
                    {{ formset.management_form }}
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-lg" value="公開する" />
        </form>
    </div>
    <div id="editor-preview" class="tab-pane">
        プレビュー
    </div>
{% endblock %}