{% extends "twopane.html" %}
{% load staticfiles %}
{% load i18n %}
{% block pre_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/profile.css" %}" media="screen">
{% endblock %}
{% block content-main %}
    <h1>{% trans "Members" %}({{ filter | length }})</h1>
    <div class="row" id="profile-list">
        {% for object in filter %}
            <div class="thumbnail profile-list-item">
                <a href="{{ object.get_absolute_url }}">
                    <img alt="{{ object.user.nickname }}" src="{{ MEDIA_URL }}{{ object.user.avatar.huge }}">
                </a>
                <div class="well">
                    <div class="caption">
                        <h2>{{ object.user.nickname }}</h2>
                        <p class="username">@{{ object.user.username }}</p>
                        <div class="quotes">{{ object.user.quotes }}</div>
                        <div class="profile-skills">
                            {% for skill in object.skills.all %}
                                <span class="badge" data-toggle="tooltip" data-placement="top" data-title="{{ skill.description }}">{{ skill }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block content-aside %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Abilities</h4>
        </div>
        {{ filter.form.skills }}
    </div>
{% endblock %}
