{% extends "twopane.html" %}
{% load staticfiles %}
{% load i18n %}
{% load utils %}
{% block pre_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/projects.css" %}" media="screen">
{% endblock %}
{% block content-main %}
    <div class="page-header">
        <h1>{% trans "Archived Projects" %}</h1>
        <small>{% blocktrans with count=paginator.count %}There are {{ count }} archived projects.{% endblocktrans %}</small>
    </div>
    <div class="row project-list-archived list-group">
        {% for project in object_list %}
            {% include "projects/components/list-item-archived.html" %}
        {% endfor %}
    </div>
    <div class="text-center">
        <ul class="pagination">
            <li{% if not page_obj.has_next %} class="disabled"{% endif %}><a href="#">&laquo;</a></li>
            {% for page_number in paginator.page_range %}
                <li {% if page_obj.number == page_number %} class="active"{% endif %}><a href="">{{ page_number }}</a></li>
            {% endfor %}
            <li{% if not page_obj.has_next %} class="disabled"{% endif %}><a href="#">&raquo;</a></li>
        </ul>
    </div>
{% endblock %}
{% block content-aside %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Order</h3>
        </div>
        <div class="list-group">
            <a href="{{ request.url }}?o=title" class="list-group-item">{% trans "Title" %}</a>
            <a href="{{ request.url }}?o=created_at" class="list-group-item">{% trans "Created At" %}</a>
            <a href="{{ request.url }}?o=category" class="list-group-item">{% trans "Category" %}</a>
            <a href="{{ request.url }}?o=status" class="list-group-item">{% trans "Status" %}</a>
        </div>
    </div>
{% endblock %}
