{% extends "twopane.html" %}
{% load staticfiles %}
{% load i18n %}
{% load projects_tags %}

{% block pre_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/projects.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "vendor/octicons/octicons.css" %}">
{% endblock %}

{% block content-header %}
<div id="project-detail-wrap">
  <div class="page-header">
    {% if project.pub_state == 'public' %}
    <h1>{{ project.title }}</h1>
    {% elif project.pub_state == 'protected' %}
    <span class="mega-octicon octicon-lock"></span>
    <h1>{{ project.title }}</h1>
    {% endif %}
  </div>

  <div class="row">
    <div class="col col-lg-5 col-xs-12" id="project-thumbnail">
      <img class="group list-group-image" src="{{ MEDIA_URL }}{{ project.icon.huge }}" alt="{{ project.title }} Thumbnail" />
    </div>
    <div class="col col-lg-7 col-xs-12">
      <dl class="row">
        <dt class="col col-lg-2 col-xs-4">{% trans "Status" %}</dt>
        <dd class="col col-lg-10 col-xs-8">{{ project.get_status_display }}</dd>
      </dl>
      <dl class="row">
        <dt class="col col-lg-2 col-xs-4">{% trans "Category" %}</dt>
        <dd class="col col-lg-10 col-xs-8">{{ project.category }}</dd>
      </dl>
      <dl class="row">
        <dt class="col col-lg-2 col-xs-4">{% trans "Redmine" %}</dt>
        <dd class="col col-lg-10 col-xs-8">{{ project.tracker }}hogehoge</dd>
      </dl>
      <dl class="row">
        <dt class="col col-lg-2 col-xs-4">{% trans "Repository" %}</dt>
        <dd class="col col-lg-10 col-xs-8">{{ project.repository }}hogehoge</dd>
      </dl>
    </div>
  </div>

  {% endblock %}

  {% block content-main %}
  <div id="project-detail">
      <article class="markdown">
          {{ project.body | markdown }}
      </article>
  </div>
  {% endblock %}
  {% block content-aside %}
    <!--<div class="panel panel-default">-->
{% if user has 'projects.join_project' of project %}
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-plus"></span><span>{% trans "Join This Project" %}</span>
</button>
{% endif %}

    <div class="member-list panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{% trans "Members" %}</h2>
      </div>
      <ul class="list-group">
        {% for member in object.members.all %}
          <li class="list-group-item">
            <img class="avatar avatar-middle" src="{{ MEDIA_URL }}{{ member.avatar.middle }}" alt="{{ member.nickname }}">
              {{ member.nickname }}さん
          </li>
        {% endfor %}
      </ul>
    </div>


{% if user has 'projects.quit_project' of project %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{% trans "operation" %}</h2>
      </div>
      <ui class="list-group">
        <li class="list-group-item list-group-item-danger">
          <a href="{% url "projects_project_join" pk=project.pk %}">{% trans "Out This Project" %}</a>
        </li>
      </ui>
    </div>
{% endif %}


    {% if user has 'projects.change_project' of project %}
    <div class="panel panel-default">
      <a class="list-group-item" href="{% url "projects_project_update" project.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> {% trans "Update Project" %}</a>
    </div>
    {% elif user has 'projects.delete_project' of project %}
    <div class="panel panel-default">
      <a class="list-group-item" href="{% url "projects_project_delete" project.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> {% trans "Delete Project" %}</a>
    </div>
    {% endif %}







  {% endblock %}
</div>
