{% load i18n %}
<div class="blog-article">
    <div class="blog-article-header">
        <div class="pull-right">
            <a href="{{ object.author.profile.get_absolute_url }}">
                <img src="{{ object.author.avatar.large.url }}" alt="{{ object.author.nickname }} Avater" class="avatar avatar-middle"/> {{ object.author.nickname }}
            </a>
        </div>
        <div class="date pull-left">
            <p>{{ object.created_at|date:"d" }}<span>{{ object.created_at|date:"M" }}</span></p>
        </div>
        <div class="page-header">
            <h1>{{ object.title }}</h1>
        </div>
        <p class="badge">{{ object.category.label }}</p>
    </div>
    <article class="markdown">
        {{ object.body | markdown }}
        <time datetime="{{ object.created_at|date:"c" }}"><label>{% trans "Created at" %}</label>: {{ object.created_at|date:"Y/m/d H:i" }}</time>
    </article>
</div>
