<div class="editor-control">
    <div class="btn-group btn-group-sm">
        <div class="mace-outdent btn btn-default">
            <span class="glyphicon glyphicon-indent-right"></span>
        </div>
        <div class="mace-indent btn btn-default">
            <span class="glyphicon glyphicon-indent-left"></span>
        </div>
        <div class="mace-heading-1 btn btn-default">
            <span>H1</span>
        </div>
        <div class="mace-heading-2 btn btn-default">
            <span>H2</span>
        </div>
        <div class="mace-heading-3 btn btn-default">
            <span>H3</span>
        </div>
        <div class="mace-list btn btn-default">
            <span class="glyphicon glyphicon-list"></span>
        </div>
        <div class="mace-bold btn btn-default">
            <span class="glyphicon glyphicon-bold"></span>
        </div>
        <div class="mace-italic btn btn-default">
            <span class="glyphicon glyphicon-italic"></span>
        </div>
        <div class="mace-code btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span>
        </div>
        <div class="mace-image btn btn-default">
            <span class="glyphicon glyphicon-picture"></span>
        </div>
        <div class="mace-link btn btn-default">
            <span class="glyphicon glyphicon-link"></span>
        </div>
        <div class="mace-attachment btn btn-default" data-toggle="modal" data-target="#attachment-dialog">
            <span class="glyphicon glyphicon-paperclip"></span>
        </div>
    </div>
</div>

