{% load i18n %}
{% load staticfiles %}
<div class="editor-control">
    <div class="btn-group btn-group-sm">
        <div class="mace-indent btn btn-default">
            <span class="glyphicon glyphicon-indent-left" data-toggle="tooltip" rel="tooltip" title="{% trans "Indent" %}"></span>
        </div>
        <div class="mace-heading-1 btn btn-default">
            <span data-toggle="tooltip" rel="tooltip" title="{% trans "Header1" %}">H1</span>
        </div>
        <div class="mace-heading-2 btn btn-default">
            <span data-toggle="tooltip" rel="tooltip" title="{% trans "Header2" %}">H2</span>
        </div>
        <div class="mace-heading-3 btn btn-default">
            <span data-toggle="tooltip" rel="tooltip" title="{% trans "Header3" %}">H3</span>
        </div>
        <div class="mace-list btn btn-default">
            <img src="{% static "img/editor/icon-list.png" %}" alt="{% trans "List" %}">
        </div>
        <div class="mace-numeric-list btn btn-default">
            <img src="{% static "img/editor/icon-listnum.png" %}" alt="{% trans "Numeric List" %}">
        </div>
        <div class="mace-bold btn btn-default">
            <span class="glyphicon glyphicon-bold" data-toggle="tooltip" rel="tooltip" title="{% trans "Bold" %}"></span>
        </div>
        <div class="mace-italic btn btn-default">
            <span class="glyphicon glyphicon-italic" data-toggle="tooltip" rel="tooltip" title="{% trans "Italic" %}"></span>
        </div>
        <div class="mace-line btn btn-default">
            <img src="{% static "img/editor/icon-separator.png" %}" alt="{% trans "Separator" %}">
        </div>
        <div class="mace-code btn btn-default">
            <img src="{% static "img/editor/icon-codeblock.png" %}" alt="{% trans "Code Block" %}">
        </div>
        <div class="mace-quote btn btn-default">
            <img src="{% static "img/editor/icon-quotation.png" %}" alt="{% trans "Code Quote" %}">
        </div>
        <div class="mace-image btn btn-default">
            <span class="glyphicon glyphicon-picture" data-toggle="tooltip" rel="tooltip" title="{% trans "Insert image" %}"></span>
        </div>
        <div class="mace-link btn btn-default">
            <span class="glyphicon glyphicon-link" data-toggle="tooltip" rel="tooltip" title="{% trans "Insert link" %}"></span>
        </div>
        <a class="mace-attachment btn btn-default" data-toggle="modal" data-target="#attachment-dialog">
            <span class="glyphicon glyphicon-paperclip" data-toggle="tooltip" rel="tooltip" title="{% trans "Upload file" %}"></span>
        </a>
        <a class="mace-help btn btn-default" href="/helps/markdown/" target="_blank">
            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" rel="tooltip" title="{% trans "Help" %}"></span>
        </a>
    </div>
</div>

