{% load i18n %}
<div class="text-center">
    <p>{% blocktrans with current=page_obj.number max=paginator.num_pages %}Page {{ current }} of {{ max }}{% endblocktrans %}</p>
    <ul class="pager">
        <li class="previous{% if not page_obj.has_previous %} disabled{% endif %}">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&larr; {% trans "Next" %}</a>
            {% else %}
                <a>&larr; {% trans "Newer" %}</a>
            {% endif %}
        </li>
        <li class="next{% if not page_obj.has_next %} disabled{% endif %}">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans "Previous" %} &rarr;</a>
            {% else %}
                <a>{% trans "Older" %} &rarr;</a>
            {% endif %}
        </li>
    </ul>
</div>

