<li class="star" star-id="{{ star.pk }}" star-author-id="{{ star.author.pk }}" star-quote="{{ star.quote }}" rel="tooltip" data-toggle="tooltip" title="{{ star.tooltip_text }}">
    <div class="star-user">
        <a href="{{ star.author.get_absolute_url }}">
            <img class="avatar avatar-small" src="{{ star.author.get_small_avatar }}">
            {% comment %}
                allowed_to_delete_starはstar_container.htmlから渡され、このスター郡が付加されているオブジェクトの編集権限をユーザが持っている場合にTrueとなる
                また SQL や メソッドの呼び出しを極力少なくするためにまずスターの所有者をチェックしてからパーミッションチェックを行なっている
                stars.api.StarSerializerから描画されたときは、from_api = Trueフラグが渡され、その場合、常に削除ボタンを表示している
                APIからこのテンプレートの描画結果を受け取るのはスター作者だと考えられ、常にスターが削除可能なためである
            {% endcomment %}
            {% if allowed_to_delete_star or star.author == user and user has 'stars.delete_star' of star or from_api %}
                <a href="#" class="star-remove" style="display: none;"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </a>
    </div>
</li>
