{% load stars_tags %}
{% load staticfiles %}
<section class="star-container" ng-controller="StarController">
    {% get_star_endpoint object as endpoint %}
    <input type="hidden" ng-model="endpoint" ng-init="endpoint='{{ endpoint }}';fetchStars();">
    <div class="star-container">
        <div class="row">
            <div class="star-add-button-col col-lg-1">
                {% if user has 'stars.add_star' of object %}
                    <button class="btn btn-primary btm-sm add-star-button" ng-click="addStar($event);"><span class="glyphicon glyphicon-star"></span>イイネ</button>
                {% endif %}
            </div>
            <div class="star-body-col col-lg-11">
                {% get_stars object as stars %}
                <ul>
                    {% for star in stars %}
                        <li class="star" rel="tooltip" data-toggle="tooltip" title="{{ star.author.nickname }}">
                            <div class="star-user">
                                <a href="{{ star.author.get_absolute_url }}">
                                    <img class="avatar avatar-small" src="{{ star.author.get_small_avatar }}">
                                    {# TODO starをcontextで引っ張ってこないといけない #}
                                    {% if user has 'stars.delete_star' of star %}
                                        <a href="#" class="star-remove" ng-click="deleteStar(star);"><span class="glyphicon glyphicon-remove"></span></a>
                                    {% endif %}
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
