{% load stars_tags %}
{% load staticfiles %}
{% get_star_endpoint object as endpoint %}
<section class="star-container" star-endpoint="{{ endpoint }}">
    <div class="star-add-col col-lg-2">
        {% if user has 'stars.add_star' of object %}
            <button class="btn btn-primary btm-sm add-star-button"><span class="glyphicon glyphicon-star"></span></button>
        {% endif %}
    </div>
    <div class="star-body-col">
        {% get_stars object as stars %}
        <ul>
          {% if user has 'stars.delete_star' of object %}
            {% for star in stars %}
                {% include "components/star.html" with allowed_to_delete_star=True %}
            {% endfor %}
          {% else %}
            {% for star in stars %}
                {% include "components/star.html" with allowed_to_delete_star=False %}
            {% endfor %}
          {% endif %} 
            <li class="star-read-more" style="display: none;"><span class="glyphicon glyphicon-chevron-down"></span><span class="text">10</span></li>
        </ul>
    </div>
</section>
