{% load stars_tags %}
{% load staticfiles %}
{% get_star_endpoint object as endpoint %}
<section class="star-container" star-endpoint="{{ endpoint }}">
    {% if user has 'stars.add_star' of object %}
    <div class="star-add-col">
            <button class="btn btn-primary btm-sm add-star-button"><span class="glyphicon glyphicon-star"></span></button>
    </div>
    {% endif %}
    <div class="star-body-col">
        {% get_stars object as stars %}
        <ul class="star-list">
          {% if user has 'stars.delete_star' of object %}
            {% for star in stars %}
                {% include "components/star.html" with allowed_to_delete_star=True %}
            {% endfor %}
          {% else %}
            {% for star in stars %}
                {% include "components/star.html" with allowed_to_delete_star=False %}
            {% endfor %}
          {% endif %}
        </ul>
    </div>
</section>
