{% extends "authenticated_base.html" %}

{% load i18n %}
{% block pre_css %}
    {{ block.super }}
    <style>
        img {
            max-height: 300px;
        }
    </style>
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li><a href="/helps">{% trans "Help" %}</a></li>
    <li><a href="/helps/slack/">{% trans "Slack" %}</a></li>
{% endblock %}
{% block content %}
    <article class="markdown">
        {% include_kfm "markdown/helps/slack.md" %}
    </article>
{% endblock %}
