{% extends "activities/blogs/base.html" %}
{% block history-item %}
    {% include "components/small_avatar.html" with user=object.author render_username=False %}
    {% if not activity.previous %}
        {# 下書き状態から公開状態に変えて公開したときにこの表示になるはず #}
        公開されました
    {% elif title_updated %}
        タイトルを「<strong>{{ activity.previous.snapshot.title }}</strong>」から「<strong>{{ object.title }}</strong>」に変えました
    {% elif category_updated %}
        カテゴリを「<strong>{{ activity.previous.snapshot.category.label }}/strong>」から「<strong><{{ object.category.label }}</strong>」へ変えました
    {% elif body_updated %}
        本文を編集しました
    {% elif category_created %}
        カテゴリを「<strong>{{ object.category.label }}</strong>」にしました
    {% elif category_deleted %}
        カテゴリ「<strong>{{ activity.previous.snapshot.category.label }}</strong>」をやめました
    {% else %}
        編集しました
    {% endif %}
{% endblock %}
