pyyaml
pytz
pillow
markdown2>=2.3.0
djangorestframework>=3.0.1
django-permission>=0.8.3
django-filter
django-roughpages>=0.1.2
django-thumbnailfield>=0.2.3
django-inspectional-registration>=0.4.6
django-crispy-forms
django-contrib-comments
django-debug-toolbar
django-debug-toolbar-template-timings
requests
django-appconf
honcho
beautifulsoup4
httplib2
git+https://github.com/enorvelle/GoogleApiPython3x.git#egg=google_api_python_client
icalendar
django_compressor
livereload
pygments
docutils
django-suit
# django-activities
requests-oauthlib
factory_boy>=2.2.1
coverage

sphinx
sphinxcontrib-napoleon
sphinx-rtd-theme
