pyyaml
pytz==2016.10
pillow
markdown2>=2.3.0
djangorestframework
django-permission>=0.8.8
django-filter>=1.0.0
django-roughpages>=0.1.2
django-thumbnailfield>=0.2.3
django-inspectional-registration>=0.6.2
django-crispy-forms
django-contrib-comments
django-debug-toolbar
django-debug-toolbar-vcs-info>=1.1.0
django-slack-invitation
requests
django-appconf
honcho
beautifulsoup4
httplib2
google-api-python-client
icalendar
django_compressor
livereload
pygments
docutils
django-suit
# django-activities
requests-oauthlib
