@import (reference) "../../../../vendor/bootstrap/less/bootstrap.less";
@import (reference) "common/define";
@import (reference) "common/vendor-prefixes";

// common
.glyph-large-icon {
  font-size: 1.5em;
  color: @footer-color;
}

.event-join-btn {
  padding: 20px 30px;
  background: @button-bg-color;
  color: @button-text-color;
  border: 1px solid @button-bg-color;
  span {
    font-size: 21px;
  }
  span:first-child {
    margin-right: 10px;
  }
}
.event-join-btn:hover {
  background: @button-bg-color-hover;
  color: @button-border-color-hover;
}
.event-leave-btn:hover {
  background: @leave-button-bg-color-hover;
}


// event-list
.event-list-wrap {
  .event-list-header {
    margin-bottom: 20px;
    h2 {
      margin-top: 30px;
      margin-bottom: 0;
      padding: 0;
    }
  }
}

.event-list-item {
  margin-top: 10px;
  .event-list-panel {
    display: block;
    color: @text-color;
    text-decoration: none;
    .text-overflow(ellipsis);
    &:hover {
      text-decoration: none;
      background: @gray-lighter;
      border-color: @gray-lighter;
    }
    .event-panel-body {
      padding: 20px;
      .event-panel-header {
        margin-bottom: 10px;
        border-bottom: 1px dotted #ccc;
        padding-bottom: 5px;
        h3 {
          font-size: 21px;
          margin: 0;
          text-align: left;
          float: left;
          .text-overflow(ellipsis);
          width: 76%;
        }
        .event-category {
          text-align: right;
          .event-category-icon {
            margin-right: 5px;
          }
        }
      }
      .event-panel-info {
        clear: both;
        color: #666;
        .event-panel-time {
          margin-bottom: 5px;
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
        .glyph-large-icon {
          font-size: 1.25em;
        }
      }

      ul {
      &.event-attendees-list {
        padding: 0;
        margin: 10px 0 0;
        a {
          display: block;
        }
        li {
          display: inline-block;
          a {
            display: block;
          }
        }
      }
      }
    }
  }
  &.list-item-internal {
    background: #fff url("../img/lock-icon3.png") no-repeat 101% 113%;
  }
}
.event-create-button {
  margin-top: 50px;
}
.event-detail-aside-item {
  margin-bottom: 25px;
  .event-join-btn {
    padding: 20px 33px;
    span {
      font-size: 18px;
    }
  }
  .back-event-list {
    text-align: center;
  }
}



// event-detail
.event-detail-header-wrap {
  .event-category {
    .event-category-icon {
      margin-right: 5px;
    }
  }
  .event-title {
    border-bottom: 1px solid @gray-lighter;
    margin: 5px 0 10px;
    padding: 10px 5px;
    img {
      width: 20px;
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
    }
    h2 {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .page-header-left {
    .event-info-wrap {
      display: table;
      &.event-info-wrap-middle {
        min-height: 175px;
      }
      &.event-info-wrap-low {
        min-height: 155px;
      }
      &.event-info-wrap-high {
        min-height: 180px;
      }
      .event-info {
        display:table-cell;
        vertical-align:middle;
        line-height:1.5em;
        .event-info-detail {
          font-size: 18px;
          span {
            display: inline;
            vertical-align: middle;
          }
          .event-place-map:hover {
            text-decoration: none;
          }
        }
        .event-datetime-wrap {
          margin-bottom: 20px;
        }
      }
    }
  }
  .page-header-right {
    text-align: center;
    .event-join-utility {
      margin-top: 20px;
      .event-leave-btn {
        padding: 20px 30px;
        background: @leave-button-bg-color;
        color: @leave-text-color;
        border: 1px solid @leave-button-border-color;
        span {
          font-size: 21px;
        }
        span:first-child {
          margin-right: 10px;
        }
      }
      dl {
        margin: 0;
      }
    }
    .attendance-deadline {
      margin-top: 5px;
    }

    p {
      &.event-join-count {
        color: #666;
        margin-bottom: 5px;
      }
      &.event-status {
        font-size: 18px;
        font-weight: bold;
        .border-radius (5px);
        color: #fff;
        padding: 20px 0px;
        margin-top: 20px;
      }
      &.event-closed {
        background: @brand-danger;
      }
      &.event-recruit {
        background: @brand-primary;
      }
      &.event-outside {
        background: @brand-info;
        font-size: 14px;
        padding: 12px;
      }
    }
  }
}
.event-member-list {
  ul {
    list-style-type: none;
    padding: 0;
  }
  .event-member-head {
    h2 {
      float: left;
      text-align: left;
    }
    p {
      text-align: right;
      margin: 0;
    }
  }
  .member-list-organizer {
    border: none;
  }
}
