@import (reference) "../../../../vendor/bootstrap/less/bootstrap.less";
@import (reference) "common/define";
@import (reference) "common/vendor-prefixes";


// common
.glyph-large-icon {
	font-size: 1.5em;
	color: @footer-color;
}


// event-detail
.event-detail-wrap {
	.event-category {
		span:first-child {
			margin-right: 5px;
		}
	}

	.event-title {
		h2 {
			margin-top: 5px;
		}
	}


	.page-header-left {
		.event-info-wrap {
			display: table;
			height: 150px;
			.event-info {
				display:table-cell;
					vertical-align:middle;
					line-height:1.5em;
				.event-info-detail {
					margin-bottom: 20px;
					font-size: 18px;
					span {
						display: inline;
						vertical-align: middle;
					}
					.event-place-map:hover {
						text-decoration: none;
					}
				}
			}
		}

	}
	.page-header-right {
		.event-join-utility {
			text-align: center;
			.event-join-btn {
				padding: 20px 30px;
				background: @button-bg-color;
				color: @button-text-color;
				border: 1px solid @button-bg-color;
				span {
					font-size: 21px;
				}
				span:first-child {
					margin-right: 10px;
				}
			}
			p {
					color: #666;
				}
			.event-join-btn:hover {
				background: @button-bg-color-hover;
				color: @button-border-color-hover;
			}
		}
	}
}


