@import "../../../../vendor/bootstrap/less/variables";
@import "define";

.form-wrapper {
  .form-header {
    width: @container-lg;
    padding-top: @navbar-height;
    background: @body-bg;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .tab-content {
    padding-top: 200px;
  }
}
// フォームデザイン
.multiple-checkbox {
  li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
  }
}
// profiles
#formset-accounts {
  select[id$='service'] {
    background-size: 16px;
    background-image: url("https://twitter.com/favicon.ico");
    background-repeat: no-repeat;
    option {
      padding-left: 20px;
    }
  }

}