@import "../../../../vendor/bootstrap/less/bootstrap.less";
@import "common/define";

#featured-products>.carousel-inner>.item {
  img{
    min-width: 100%;
    .carousel-container {
    }
  }
}
//Product List Item
.product-list-item {
  background-size: cover;
  a {
    color: @text-color;
    text-decoration: none;
    &:hover {
      color: @link-hover-color;
    }
  }
  &:hover {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  }
}

@footer-height: 60px;
body {
  padding-top: 50px;
}
html {
  background-color: @footer-color;
  overflow-y: scroll;
}
#footer {
  margin-top: 35px;
  width: 100%;
  height: @footer-height;
  background-color: @footer-color;
  color: white;
  .container {
    padding-right: 15px;
    padding-left: 15px;
    h2 {
      margin-bottom: 30px;
    }
    .text-muted {
      margin: 20px 0;
    }
    @image-width: 300px;
    .footer-logo {
      width: @image-width;
      margin: 0 auto;
    }
    .register-button-wrapper {
      height: 80px;
      padding-top: 10px;
      div {
        padding-top: 10px;
        margin: 0 auto;
        width: @image-width;
      }
      a {
        width: @image-width;
      }
    }
  }
}
.btn-default, .btn-primary {
  border-bottom-width: 3px;
}
img.logo-header {
  margin-top: -4px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}
#featured-products-container {
  background-image: url(../img/carousel-bg.png);
  #featured-products {
    margin: 0 auto;
    max-width: 800px;
    .carousel-inner>.item>img {
      min-width: 100%;
      .carousel-container {
      }
    }
  }
}
.navbar-default {
  background-color: fade(@brand-primary, 100%);
  border-color: rgba(231,231,231,1);
}
.thumbnail {
  padding: 0;
}
.item {
  .thumbnail {
    position: relative;
  }
  .caption {
    background-color: rgba(0,0,0,0.5);
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    .caption-inner {
      position: absolute;
      bottom: 9px;
    }
  }
}
.fade-in() {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade-in { .fade-in(); }
@-webkit-keyframes fade-in { .fade-in(); }
a.product-caption {
  .caption {
    opacity: 0;
    h4, p{
      color: white;
    }
  }
  &:hover .caption {
    opacity: 1;
    animation-duration: 0.5s;
    animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fade-in;
  }
}
@login-form-width: 400px;
// ヘッダー
.header-button {
  margin-top: 8px;
  margin-left: 20px;
  // ログインフォーム
  .dropdown-menu.anonymous-menu {
    background: @body-bg;
    width: @login-form-width;
    border: @gray-light solid 1px;
    border-radius: 5px;
  }
}
.login-form {
  width: @login-form-width;
  padding: 10px 20px;
  button {
    margin: 0 auto;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  .forgot-password {
    margin-top: 8px;
    text-align: right;
    a {
      color: @gray-light;
    }

  }
}
.avatar {
  border: 1px solid #333333;
  @size: @avatar-size-small;
  .small { @size: @avatar-size-small; }
  .middle { @size: @avatar-size-middle; }
  .large { @size: @avatar-size-large; }
  .huge { @size: @avatar-size-huge; }
  @radius: @size / 2.0;
  width: @size;
  height: @size;
  border-radius: @radius;
}
// Recent Activity
#recent-activity-container {
  background: @brand-primary;
  width: 100%;
  .activity-thumbnail {
    background: @gray-lighter;
    background-size: cover;
    background-position: center center;
    border: @gray solid 1px;
    height: 100px;
  }
  h2 {
    color: #06357F;
  }
  h5 {
    color: @body-bg;
    font-weight: bold;
  }
}
.see-more {
  a {
    color: @text-accent-color;
    &:hover {
      text-decoration: none;
    }
  }
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
// Two Pane Layout
.two-pane {
  .make-row();
  section.main {
    .make-lg-column(9);
    .make-xs-column(12);
  }
  aside {
    .make-lg-column(3);
    .make-xs-column(12);
  }
}
// Product Detail
.trailer {
  max-width: 800px;
  margin: 20px auto 20px;
}
.downloads {
  text-align: center;
  margin: 20px auto;
}
.screenshots {
  overflow-y: hidden;
  white-space: nowrap;
  img {
    height: 200px;
  }
}
ul.platform-list {
  .clearfix();
  list-style: none;
  padding: 0;
  li {
    margin-right: 4px;
    float: left;
  }
}
// django-filterによって自動生成されるFilter Form用
.filter-form {
  p {
    margin: 20px 0 10px;
  }
  label {
    font-size: 24px;
    font-weight: bold;
  }
  ul {
    padding-left: 0;
    li {
      list-style: none outside none;
    }
    a {
      padding-left: 10px;
      &.selected {
        color: @text-color;
        padding-left: 0;
        font-size: 150%;
        font-weight: bold;
        &:before {
          content: "▶ ";
        }
      }
    }
  }
}
