@import "../../../../vendor/bootstrap/less/bootstrap.less";
@import "common/define";

#featured-products>.carousel-inner>.item {
  img{
    min-width: 100%;
    .carousel-container {
    }
  }
}

@footer-height: 60px;
body {
  padding-top: 50px;
}
html {
  background-color: @footer-color;
  overflow-y: scroll;
}
#footer {
  margin-top: 35px;
  width: 100%;
  height: @footer-height;
  background-color: @footer-color;
  color: white;
  .container {
    padding-right: 15px;
    padding-left: 15px;
    h2 {
      margin-bottom: 30px;
    }
    .text-muted {
      margin: 20px 0;
    }
    @image-width: 300px;
    .footer-logo {
      width: @image-width;
      margin: 0 auto;
    }
    .register-button-wrapper {
      height: 80px;
      padding-top: 10px;
      div {
        padding-top: 10px;
        margin: 0 auto;
        width: @image-width;
      }
      a {
        width: @image-width;
      }
    }
  }
}
.btn-default, .btn-primary {
  border-bottom-width: 3px;
}
img.logo-header {
  margin-top: -4px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}
#featured-products-container {
  background-image: url(../img/carousel-bg.png);
  #featured-products {
    margin: 0 auto;
    max-width: 800px;
    .carousel-inner>.item>img {
      min-width: 100%;
      .carousel-container {
      }
    }
  }
}
.navbar-default {
  background-color: fade(@brand-primary, 100%);
  border-color: rgba(231,231,231,1);
}
@login-form-width: 400px;
// ヘッダー
.header-button {
  margin-top: 8px;
  margin-left: 20px;
  // ログインフォーム
  .dropdown-menu.anonymous-menu {
    background: @body-bg;
    width: @login-form-width;
    border: @gray-light solid 1px;
    border-radius: 5px;
  }
}
.login-form {
  width: @login-form-width;
  padding: 10px 20px;
  button {
    margin: 0 auto;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  .forgot-password {
    margin-top: 8px;
    text-align: right;
    a {
      color: @gray-light;
    }

  }
}
// アバター
.avatar {
  border: 1px solid #333333;
  .avatar(@avatar-size-small);
  &-small { .avatar(@avatar-size-small); }
  &-middle { .avatar(@avatar-size-middle);  }
  &-large { .avatar(@avatar-size-large); }
  &-huge { .avatar(@avatar-size-huge); }
}
.avatar(@size) {
  @radius: @size / 2.0;
  width: @size;
  height: @size;
  border-radius: @radius;
}
// Recent Activity
#recent-activity-container {
  background: @brand-primary;
  width: 100%;
  .activity-thumbnail {
    background: @gray-lighter;
    background-size: cover;
    background-position: center center;
    border: @gray solid 1px;
    height: 100px;
  }
  h2 {
    color: #06357F;
  }
  h5 {
    color: @body-bg;
    font-weight: bold;
  }
}
.see-more {
  a {
    color: @text-accent-color;
    &:hover {
      text-decoration: none;
    }
  }
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
// Two Pane Layout
.two-pane {
  .make-row();
  section.main {
    .make-lg-column(9);
    .make-xs-column(12);
  }
  aside {
    .make-lg-column(3);
    .make-xs-column(12);
  }
}
// django-filterによって自動生成されるFilter Form用
.filter-form {
  p {
    margin: 20px 0 10px;
  }
  label {
    font-size: 24px;
    font-weight: bold;
  }
  ul {
    padding-left: 0;
    li {
      list-style: none outside none;
    }
    a {
      padding-left: 10px;
      &.selected {
        color: @text-color;
        padding-left: 0;
        font-size: 150%;
        font-weight: bold;
        &:before {
          content: "▶ ";
        }
      }
    }
  }
}
