@import (reference) "../../../../vendor/bootstrap/less/bootstrap.less";
@import (reference) "common/define";
@import (reference) "common/vendor-prefixes";

.member-list {
  display:none;
  margin: 0;
}

.page-header {
  #header_active {
    float: left;
    text-align: left;
    margin: 0;
  }
  .header-right {
    text-align: right;
    padding-top: 15px;
    a {
      margin-right: auto;
      display: inline-block;
    }
  }
}
.page-header:first-child {
  height: 80px;
}

.popover-content {
  padding-bottom: 0;

  ul {
    padding: 0;

    li {
      list-style-type: none;
      color: #fff;

        img {
          margin-right: 5px;
        }
      }

    li:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}

a#project-list-more {
  text-align: center;
  color: @link-color;
}
a#project-list-more:hover {
  color: @link-hover-color;
}
.project-list {
  min-width: 200px;

  .project-list-item {
    margin: 0 0 20px;
    border: none;
    display: inline-block;

    a {
      border: 1px solid #ccc;
      border-radius: 4px;
      display: block;
    }
    a:hover {
      text-decoration: none;
       background: @gray-lighter;
      border-color: #999;
    }
    .project-thumbnail {
      text-align: center;
    }
    span {
      cursor: pointer;
      text-decoration: underline;
    }
    .project-wall {
      margin-top: 10px;

      dl {
        margin: 0 0 10px;
      }

      dl {
        dt {
          color: @text-color;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis; /* Opera9,10対応 */
        }
        dd {
          color:#999;
          font-weight: normal;
        }
      }
    }
  }
  .project-list-item:nth-child(4n) {
    margin: 0 0 20px;
  }
}

.project-list-archived {

  .col {
    display:inline-block;
    vertical-align:middle;
    height: 100%;
    float: none;
  }
  .col_tilte {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* Opera9,10対応 */
  }
  a.eternal .archive-info{
    opacity:0.5;
    display:inline-block;
    vertical-align:middle;
    float: none;
  }
  .project-list-item {
    a {
      display: block;
      padding: 5px;
    }
    a:hover {
      text-decoration: none;
      background: @gray-lighter;
    }


  }
}
