@import (reference) "../../../../vendor/bootstrap/less/bootstrap.less";
@import (reference) "common/define";
@import (reference) "common/vendor-prefixes";

// project-list
.page-header {
  h1 {
    display: inline-block;
  }
  #header-active {
    float: left;
    text-align: left;
    margin: 0;
  }
  .header-right {
    text-align: right;
    padding-top: 15px;
    a {
      margin-right: auto;
      display: inline-block;
    }
  }
}
.popover-content {
  padding-bottom: 0;

  ul {
    padding: 0;

    li {
      list-style-type: none;
      color: #fff;

      img {
        margin-right: 5px;
      }
    }
    li:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}


#project-list-more {
  text-align: center;
  color: @link-color;
}
#project-list-more:hover {
  color: @link-hover-color;
}
#project-list {
  min-width: 200px;

  .project-list-item {
    margin: 0 0 20px;
    border: none;
    display: inline-block;
    .member-list {
      display:none;
      margin: 0;
    }
    a {
      border: 1px solid #ccc;
      .border-radius(5px);
      display: block;
    }
    a:hover {
      text-decoration: none;
      background: @gray-lighter;
      border-color: @gray-lighter;
    }
    .project-thumbnail {
      text-align: center;
    }
    span {
      cursor: pointer;
      text-decoration: underline;
    }
    .project-wall {
      margin-top: 10px;

      dl {
        margin: 0 0 10px;
      }

      dl {
        dt {
          color: @text-color;
          .text-overflow(ellipsis);
        }
        dd {
          color: #999;
          font-weight: normal;
        }
      }
    }
  }
  .project-list-item:nth-child(4n) {
    margin: 0 0 20px;
  }
}

.project-list-archived {
  div {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    float: none;
  }
  .col-title {
    .text-overflow(ellipsis);
  }
  a.eternal .archive-info {
    opacity: 0.5;
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .project-list-item {
    a {
      display: block;
      padding: 5px;
    }
    a:hover {
      text-decoration: none;
      background: @gray-lighter;
    }
  }
}


// project-detail
#project-detail-wrap {
  .page-header {
    h1 {
      display: inline;
    }
    span {
      margin-right: 10px;
    }
  }

  dl {
     dt,dd {
      display: inline-block;
      vertical-align: middle;
      border-bottom: 1px dotted @gray-lighter;
     }
     dt {
      text-align: right;
     }
     dd {
      text-align: left;
     }
  }
}

.two-pane {
  margin-bottom: 15px;
  aside {
    margin-top: 10px;
    .join-btn {
      width: 100%;
      height: 70px;
      margin-bottom: 20px;
      background: @button-bg-color;
      border: 1px solid @button-border-color;
      color: @button-text-color;
      span {
        margin-right: 10px;
      }
    }
    .join-btn:hover {
      background: @button-bg-color-hover;
      border: 1px solid @button-border-color-hover;
    }
    .member-list {
      margin: 10px 0 0;
    }
  }
  .panel {
    margin-top: 20px;
  }
}
