.star-container {
  ul {
    padding-left: 3px;
  }
  li {
    float: left;
    list-style-type: none;
  }
  .star {
    .nickname {
      display: none;
    }
    .quote {
      display: none;
    }
  }
}