<a href="{{ project.get_absolute_url }}">
    <div class="panel-body">
        <div class="project-thumbnail">
            <img class="group list-group-image" src="{{ project.get_large_icon }}" height="90px" alt="{{ project.title }} Thumbnail" />
        </div>
        <div class="project-wall">
            <dl>
                <dt>{{ project.title }}</dt>
                <dd>{{ project.created_at | date:"Y/m/d" }}〜</dd>
            </dl>

            <span href="#" data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover">{{ project.members_count }}名が参加中</span>
            <div class="member-list">
                <ul>
                    {% for member in project.members.all %}
                        <li>
                            <img class="avatar avatar-small" src="{{ member.get_small_avatar }}" alt="{{ member.nickname }}">
                            {{ member.nickname }}さん
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</a>
