<a href="{{ project.get_absolute_url }}" class="list-group-item row {{ project.status }}">
  <div class="col col-done col-xs-1 col-lg-1">
  {% if project.status == 'done' %}
      <img class="group list-group-image" src="{{ MEDIA_URL }}{{ project.icon.small }}" height="" alt="">
  {% elif project.status == 'eternal' %}
      <img class="group list-group-image" src="{{ MEDIA_URL }}{{ project.icon.small }}" height="" alt="">
  {% endif %}
  </div>

  <div class="col col col-xs-10 col-lg-10  archive-info">
    <div class="col col_thumbnail col-xs-1 col-lg-1">
      <img class="group list-group-image" src="{{ MEDIA_URL }}{{ project.icon.middle }}" height="" alt="">
    </div>
    <div class="col col_tilte col-xs-7 col-lg-7">
       {{ project.title }}
    </div>
    <div class="col col_status col-xs-2 col-lg-2">
       {{ project.get_status_display }}
    </div>
  </div>
</a>