{% extends "twopane.html" %}

{% load utils %}
{% load staticfiles %}
{% load i18n %}
{% load events_tags %}

{% block pre_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/events.css" %}" media="screen">
{% endblock %}


    {% block content-main %}
    <div class="event-list-wrap">
      <h2>{% trans "開催予定のイベント" %}</h2>
      {% for event in event_list %}
        {% include "events/components/list-item.html" %}
      {% endfor %}

      {# googleカレンダー #}

    </div>

    {% endblock %}
    {% block content-aside %}
      <div class="event-create-button event-detail-block">
        {# 参加できる状態 #}
        <a href="{% url "events_event_create" %}"
           class="btn btn-success event-join-btn btn-large">
            <span class="glyphicon glyphicon-plus"></span><span>{% trans "Create This Event" %}</span>
        </a>
      </div>
      <div class="event-type-list">
        {# イベント種別 #}
        <ul>
          <li><a href="">参加予定のイベント</a></li>
          <li><a href="">全体ミーティング</a></li>
          <li><a href="">交流ミーティング</a></li>
          <li><a href="">レクリエーション</a></li>
          <li><a href="">ゲームジャム・ハッカソン</a></li>
          <li><a href="">もくもく会</a></li>
        </ul>
      </div>
      <div class="event-archive-list">
        {# 過去のイベントリスト #}
        <h3>{% trans "過去のイベント" %}</h3>
        <ul>
          <li><a href="">2013年10月</a></li>
          <li><a href="">2013年11月</a></li>
          <li><a href="">2013年12月</a></li>
          <li><a href="">2014年1月</a></li>
          <li><a href="">2014年2月</a></li>
          <li><a href="">2014年3月</a></li>
          <li><a href="">2014年4月</a></li>
          <li><a href="">2014年5月</a></li>
          <li><a href="">2014年6月</a></li>
          <li><a href="">2014年7月</a></li>
          <li><a href="">2014年8月</a></li>
          <li><a href="">2014年9月</a></li>
        </ul>
      </div>
      {% endblock %}


