{% extends "form_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content-header %}
    <div class="page-header">
        {% if object %}
            <h1>
                {% blocktrans %}
                イベント「{{ object.title }}」を編集
                {% endblocktrans %}
            </h1>
        {% else %}
            <h1>{% trans "Create Event" %}</h1>
        {% endif %}
    </div>
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url "events_event_list" %}">{% trans "Events" %}</a></li>
{% endblock %}
{% block tab-content %}
    <div class="tab-pane active" id="editor-main" ng-init="previewURL = '{% url 'events_event_preview' %}';">
        {% crispy form %}
    </div>
{% endblock %}
