
{% extends "twopane.html" %}
{% load utils %}

{% load staticfiles %}
{% load i18n %}
{% load events_tags %}

{% block pre_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/events.css" %}" media="screen">
{% endblock %}

{% block content-header %}
	<div class="page-header event-detail-header-wrap">
		<div class="event-category">
		    <span class="glyphicon glyphicon-folder-open"></span>
	    	<span>{{ event.category | default_if_none:"未設定" }}</span>
		</div>
		<div class="event-title">
			{% if event.pub_state == 'protected' %}
			<img src="{% static "img/lock-icon1.png" %}" alt="" />
			{% endif %}
			<h2>{{ event.title }}</h2>
		</div>
		<div class="row">
			<div class="col col-lg-7 col-xs-12 page-header-left">
				{% if event.attendance_deadline %}
				<div class="event-info-wrap event-info-wrap-high">
				{% else %}
				<div class="event-info-wrap event-info-wrap-low">
				{% endif %}
		    	<div class="event-info">
							<div class="event-datetime-wrap event-info-detail">
								<span class="glyphicon glyph-large-icon glyphicon-time"></span>
								<span class="event-date">{{ event.period_start | date:"Y年m月d日" }}</span>
								<span class="{% get_week_day event.period_start %}">{{ event.period_start | date:"（l）" }}</span>
								{% if event.period_end %}
									<span>{% trans "〜" %}</span>
									<span class="event-time">{{ event.period_end | date:"Y年m月d日" }}</span>
									<span class="{% get_week_day event.period_end %}">{{ event.period_end | date:"（l）" }}</span>
								{% endif %}
							</div>
			    		<div class="event-place-wrap event-info-detail">
								<span class="glyphicon glyph-large-icon glyphicon-flag"></span>
								<span class="event-place">{{ event.place }}</span>
								<a class="event-place-map" title="{% trans "See this place in Googlemap" %}" href="http://maps.google.com/?q={{ event.place }}" target="_blank" rel="tooltip" data-toggle="tooltip" data-placement="top"><span class="glyphicon glyphicon-map-marker"></span></a>
							</div>
		    	</div>
				</div>
		  </div>
	    <div class="col col-lg-5 col-xs-12 page-header-right">

				<div class="event-join-utility">
				{% if user has 'events.join_event' of event %}
					<button type="button" class="event-join-btn btn-default btn-lg">
						<span class="glyphicon glyphicon-plus"></span><span>{% trans "Join This Event" %}</span>
					</button>
				{% elif user has 'events.quit_event' of event %}
					<button type="button" class="event-leave-btn btn-default btn-lg">
						<span class="glyphicon glyphicon-log-out"></span><span>{% trans "Leave This Event" %}</span>
					</button>
				{% else %}





				{% endif %}

				{% if event.number_restriction %}
					<p>あと{{ event.number_restriction }}人参加できます</p>
				{% endif %}
				{% if event.attendance_deadline %}
					<dl>
						<dt>{% trans "attendance_deadline" %}</dt>
						<dd>
							<span>{{ event.attendance_deadline | date:"Y年m月d日" }}</span>

							{% trans "まで" %}
						</dd>
					</dl>
				{% endif %}
				</div>
	    </div>
		</div>
	</div>
{% endblock %}


{% block content-main %}
	  <article class="markdown">
        {{ object.body | markdown }}
    </article>
    {% include "components/star_container.html" %}
{% endblock %}
{% block content-aside %}
		<div class="event-member-list">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">{% trans "主催者" %}</h2>
				</div>
				<a href="{{ object.organizer.profile.get_absolute_url }}" class="list-group-item member-list-organizer">
				  <img src="{{ object.organizer.avatar.middle.url }}" alt="{{ object.organizer.nickname }} Avater" class="avatar avatar-middle"/> {{ object.organizer.nickname }}
				</a>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading event-member-head">
					<h2 class="panel-title">{% trans "参加者" %}</h2>
					<p>{{ event.attendees.count|add:"-1" }}{% trans "人参加中" %}</p>
				</div>
		    <ul class="list-group">
		    {% for attendee in event.attendees.all %}
						{% if attendee != object.organizer %}
						<a href="{{ attendees.profile.get_absolute_url }}" class="list-group-item ">
						  <img src="{{ MEDIA_URL }}{{ attendee.avatar.middle }}" alt="{{ attendee.nickname }} Avater" class="avatar avatar-middle"/> {{ attendee.nickname }}
						</a>
						{% endif %}
				{% endfor %}
		    </ul>
			</div>
		</div>

	{% if user has 'events.change_profile' of event %}
    <div id="event-administration" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans "Administration" %}</h2>
        </div>
        <div class="list-group">
			    {% if user has 'events.add_event' of event %}
			        <a class="list-group-item list-group-item-success" href="{% url "events_event_create" event.pk %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Create event" %}</a>
			    {% endif %}
			    {% if user has 'events.change_event' of event %}
			        <a class="list-group-item" href="{% url "events_event_update" event.pk %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Update event" %}</a>
			    {% endif %}
			    {% if user has 'events.delete_event' of event %}
			        <a class="list-group-item list-group-item-danger" href="{% url "events_event_delete" event.pk %}"><span class="glyphicon glyphicon-remove"></span> {% trans "Delete event" %}</a>
			    {% endif %}
			</div>
    </div>
	{% endif %}

{% endblock %}
