{% extends "form_base.html" %}
{% load crispy_forms_tags %}
{% block content-header %}
    {% if object %}
        <h1>{{ object.title }}を編集する</h1>
    {% else %}
    <h1>新しい作品を公開する</h1>
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url "events_event_list" %}">Events</a></li>
{% endblock %}
{% block tab-content %}
    <div class="tab-pane active" id="editor-main" ng-init="previewURL = '{% url 'events_event_preview' %}';">
        <form class="form-horizontal" role="form" method="POST" action=".">{% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-primary btn-lg" value="公開する" />
        </form>
    </div>
{% endblock %}
