{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load products_tags %}
{% load recent_activities_tag %}
{% block carousel %}
<div id="featured-products-container">
<div id="featured-products" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% get_products 'featured' as featured_products %}
        {% for product in featured_products %}
            {% if forloop.first %}
                <li data-target="#featured_products" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
            {% else %}
                <li data-target="#featured_products" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for product in featured_products %}
            {% if forloop.first %}
                <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
        <img src="{{ MEDIA_URL }}{{ product.advertisement_image }}" alt="{{ product.title }}">
        <div class="container">
            <div class="carousel-caption">
                <h3>{{ product.title }}</h3>
                <p><a class="btn btn-primary btn-lg" href="{{ product.get_absolute_url }}">詳細を見る！</a></p>
            </div>
        </div>
        </div>
        {% endfor %}
        </div>
        <a class="left carousel-control" href="#featured-products" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#featured-products" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<div id="recent-activity-container">
<div class="container">
    <h2>{% trans "Recent Activity" %}</h2>
    <div class="row">
        {% get_recent_activities as activities %}
        {% for activity in activities|slice:"3" %}
            <div class="col-md-4">
                <a href="{{ activity.url }}" target="_blank">
                    <div class="activity-thumbnail" style="background-image: url({{ MEDIA_URL }}/{{ activity.thumbnail }});"></div>
                </a>
                <h5><time>{{ activity.publish_at|date:"m/d" }}</time> {{ activity.title }}</h5>
            </div>
        {% endfor %}
        <div class="see-more">
            <a href="http://kawazinfo.hateblo.jp/" target="_blank">{% trans "See More" %}
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    <h2>{% trans "Recent Games" %}</h2>
    <div id="recent_products" class="row list-group">
    {% get_products 'normal' as recent_products %}
    {% for product in recent_products|slice:":5" %}
    {% include "products/components/thumbnail-item.html" %}
    {% endfor %}
    </div>
    <h2>{% trans "Featured Games" %}</h2>
    <div id="products" class="row list-group">
    {% get_products as products %}
    {% for product in products %}
    {% include "products/components/thumbnail-item.html" %}
    {% endfor %}
    </div>
    <div class="see-more">
        <a href="{% url "products_product_list" %}" target="_blank">
            {% trans "See More" %}<span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}
{% block footer %}
    <h2>札幌ゲーム制作者コミュニティ“Kawaz”とは？</h2>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <div class="footer-logo">
                <img src="{% static "img/kawaz-logo-footer.png" %}">
            </div>
            <div class="register-button-wrapper">
                <div>
                    <a href="{% url "registration_register" %}" class="btn btn-primary pull-right btn-lg">参加登録はこちら</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <p>Kawazはゲーム制作を中心に、何か新しいものを生み出したい、能力を高めたい人たちが集まるコミュニティです。大学生、専門学校生、社会人のほか、プロのゲーム開発者も交えて交流しています。</p>
            <p><strong>今まで制作されたゲームは60本以上！</strong></p>
            <p>プログラムができる、絵が描ける、音楽が作れる、何か覚えてみたい、とにかく興味がある。 そんなあなたをお待ちしています！</p>
        </div>
    </div>
{% endblock %}
