{% extends "base.html" %}
{% load products_tags %}
{% block carousel %}
<div id="featured-products" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    {% get_products 'featured' as featured_products %}
    {% for product in featured_products %}
        {% if forloop.first %}
        <li data-target="#featured_products" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
        {% else %}
        <li data-target="#featured_products" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endif %}
    {% endfor %}
    </ol>
    <div class="carousel-inner">
    {% for product in featured_products %}
        {% if forloop.first %}
        <div class="item active">
        {% else %}
        <div class="item">
        {% endif %}
            <img src="{{ MEDIA_URL }}{{ product.advertisement_image }}" alt="{{ product.title }}">
            <div class="container">
                <div class="carousel-caption">
                    <h3>{{ product.title }}</h3>
                    <p><a class="btn btn-primary btn-lg" href="{{ product.get_absolute_url }}">詳細を見る！</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <a class="left carousel-control" href="#featured_products" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#featured_products" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
{% endblock %}
{% block content %}
    <h2>最新のゲーム</h2>
    <div id="recent_products" class="row list-group">
    {% get_products 'normal' as recent_products %}
    {% for product in recent_products|slice:":5" %}
    {% include "products/components/thumbnail-item.html" %}
    {% endfor %}
    </div>
    <h2>注目のゲーム</h2>
    <div id="products" class="row list-group">
    {% get_products as products %}
    {% for product in products %}
    {% include "products/components/thumbnail-item.html" %}
    {% endfor %}
    </div>
{% endblock %}
