{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load products_tags %}
{% load announcements_tags %}
{% load activities_hatenablog_tag %}
{% block carousel %}
<div id="featured-products-container">
<div id="featured-products" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% get_products 'featured' as featured_products %}
        {% for product in featured_products %}
            {% if forloop.first %}
            <li data-target="#featured_products" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
            {% else %}
            <li data-target="#featured_products" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="carousel-inner">
    {% for product in featured_products %}
        {% if forloop.first %}
        <div class="item active">
    {% else %}
            <div class="item">
    {% endif %}
                <img class="product-advertisement-img" src="{{ product.advertisement_image.url }}" alt="{{ product.title }}">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>{{ product.title }}</h3>
                        <p><a class="btn btn-primary btn-lg" href="{{ product.get_absolute_url }}">詳細を見る！</a></p>
                    </div>
                </div>
                <ul class="product-platform">
                    {% for platform in product.platforms.all %}
                        <li class="product-platforms-listitem"><img data-toggle="tooltip" data-placement="top" data-title="{{ platform.label }}" src="{{ MEDIA_URL }}{{ platform.icon }}" alt="{{ platform.label }}" /></li>
                    {% endfor %}
                </ul>
            </div>
    {% endfor %}
        </div>
        <a class="left carousel-control" href="#featured-products" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#featured-products" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<div id="recent-activity-container">
    <div class="container">
        <h2>{% trans "Recent activities" %}</h2>
        <div class="row">
            {% get_hatenablog_entries as hatenablog_entries %}
            {% for hatenablog_entry in hatenablog_entries|slice:"3" %}
            <div class="col-md-4">
                <a href="{{ hatenablog_entry.url }}" target="_blank">
                    <div class="activity-thumbnail" style="background-image: url({{ hatenablog_entry.thumbnail.url }});"></div>
                </a>
                <h5><time>{{ hatenablog_entry.created_at|date:"m/d" }}</time> {{ hatenablog_entry.title }}</h5>
            </div>
            {% endfor %}
        </div>
        <div class="see-more">
            <a href="http://kawazinfo.hateblo.jp/" target="_blank">{% trans "See more" %}
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    <h2>{% trans "Recent games" %}</h2>
    <div id="recent_products" class="row list-group">
        {% get_products 'normal' as recent_products %}
        {% for product in recent_products|slice:":6" %}
        <div class="item col-xs-12 col-md-4">
            {% include "products/components/thumbnail-item.html" %}
        </div>
        {% endfor %}
    </div>
    <h2>{% trans "Featured games" %}</h2>
    <div id="products" class="row list-group">
        {% get_products as products %}
        {% for product in products %}
        <div class="item col-xs-12 col-md-4">
            {% include "products/components/thumbnail-item.html" %}
        </div>
        {% endfor %}
    </div>
    <div class="see-more">
        <a href="{% url "products_product_list" %}" target="_blank">
            {% trans "See more" %}<span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}
{% block footer %}
    <h2>札幌ゲーム制作者コミュニティ“Kawaz”とは？</h2>
    <div class="row footer-about-us">
        <div class="col-xs-12 col-md-4">
            <div class="footer-logo">
                <img src="{% static "img/kawaz-logo-footer.png" %}">
            </div>
            <div class="register-button-wrapper">
                <div>
                    <a href="{% url "registration_register" %}" class="btn btn-primary pull-right btn-lg">参加登録はこちら</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="footer-about-text">
                <p>Kawazはゲーム制作を中心に、何か新しいものを生み出したい、能力を高めたい人たちが集まるコミュニティです。<br />大学生、専門学校生、社会人のほか、プロのゲーム開発者も交えて交流しています。</p>
                <p><strong>今まで制作されたゲームは60本以上！</strong></p>
                <p>プログラムができる、絵が描ける、音楽が作れる、何か覚えてみたい、とにかく興味がある。<br />そんなあなたをお待ちしています！</p>
            </div>
        </div>
    </div>
    <div class="row footer-menu">
        <div class="col-xs-12 col-md-4">
            <div class="text-center">
                <h3>{% trans "Announcements" %}</h3>
                {% get_announcements as announcements %}

                    <table class="footer-nav text-left">
                    {% for announcement in announcements|slice:":5" %}
                        <tr>
                            <th><strong><time datetime="{{ announcement.created_at|date:'c' }}">{{ announcement.created_at|date:'Y年m月d日' }}</time></strong></th>
                            <td><a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="text-center">
                <h3>{% trans "Information" %}</h3>
                <ul class="footer-nav text-left">
                    <li><a href="/about/">{% trans "About us" %}</a></li>
                    <li><a href="/rules/">{% trans "Agreements" %}</a></li>
                    <li><a href="/published/">{% trans "Published information" %}</a></li>
                    <li><a href="/registration/">{% trans "How to participate" %}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="text-center">
                <h3>{% trans "Contacts" %}</h3>
                <ul class="footer-nav text-left">
                    <li><a href="/contact/">{% trans "Contact us" %}</a></li>
                    <li><a href="http://twitter.com/kawaz_official/">{% trans "Twitter @kawaz_official" %}</a></li>
                    <li><a href="http://twitter.com/kawazinfo/">{% trans "Twitter @kawazinfo" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
