{% load i18n %}

<div class="panel panel-default event-list-item">

  <a href="{{ event.get_absolute_url }}">
    <div class="panel-body">
      <h3>{{ event.title }}</h3>
            {#{{ object.body | markdown }}#}
            {# ここの本文出力はべつにいらなそう #}
      <div class="event-category">{{ event.category | default_if_none:"未設定" }}</div>
      <div class="event-time">{{ event.period_start | date:"Y年m月d日" }}</div>
      {% if event.place %}
        <div class="event-place">{{ event.place }}</div>
      {% else %}
        <div class="event-place">{% trans "開催場所未定" %}</div>
      {% endif %}

      <ul class="event-attendees-list">
        {% for attendee in event.attendees.all %}
        <li>
          <a href="{{ attendee.profile.get_absolute_url }}"
             class="">
              <img src="{{ MEDIA_URL }}{{ attendee.avatar.middle }}"
                   alt="{{ attendee.nickname }} Avatar"
                   class="avatar avatar-middle"/>
          </a>
          {#  {{ attendee.nickname }}をpopoverで #}
        </li>
        {% endfor %}
      </ul>
    </div>
  </a>
</div>
