{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% specialspaceless %}
    {% if formset_tag %}
        <form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% endif %}

{% if formset_method|lower == 'post' and not disable_csrf %}
    {% csrf_token %}
{% endif %}

<div>
    {{ formset.management_form|crispy }}
</div>
{% for form in formset %}
    {% if form_show_errors and not form.is_extra %}
        {% include "bootstrap3/errors.html" %}
    {% endif %}
    <div class="formgroup row">
        {% for field in form %}
            <div class="col-xg-3 col-xs-3">
                {% include 'bootstrap3/field.html' with tag="div" form_show_labels=False %}
            </div>
        {% endfor %}
    </div>
{% endfor %}

{% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}