{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% specialspaceless %}
{% if formset_method|lower == 'post' and not disable_csrf %}
    {% csrf_token %}
{% endif %}

<div>
    {{ formset.management_form|crispy }}
</div>
{% for form in formset %}
    {% if form_show_errors and not form.is_extra %}
        {% include "bootstrap3/errors.html" %}
    {% endif %}
    <div class="form-group row">
        {% for field in form %}
            {% if not field|is_checkbox %}
                <div class="col-xg-3 col-xs-3">
                    {% include 'bootstrap3/field.html' with tag="div" form_show_labels=False %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="col-xg-3 col-xs-3">
            <a href="#" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span></a>
        </div>
    </div>
{% endfor %}
    <div class="row">
        <div class="col col-xg-offset-9 col-sm-offset-9 col-xg-1 col-sm-1">
            <a href="#" class="btn btn-primary btn-sm formset-add"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
{% endspecialspaceless %}