{% extends "twopane.html" %}
{% load i18n %}
{% load staticfiles %}
{% block pre_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "css/blogs.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "css/markdown_nostyle.css" %}" media="screen">
{% endblock %}
{% block content-header %}
    <div class="page-header">
        <h1>{% trans "Blog Articles" %}</h1>
        <small>{% blocktrans with count=paginator.count %}There are {{ count }} blog entries.{% endblocktrans %}</small>
    </div>
{% endblock %}
{% block content-main %}
    {{ block.super }}
    {% for object in object_list %}
        {% include "blogs/components/entry_truncated.html" %}
    {% endfor %}
    {% include "components/paginator.html" %}
{% endblock %}
{% block content-aside %}
    {% if user has 'blogs.add_entry' %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Administration" %}</h2>
            </div>
            <div class="list-group">
                {# TODO: Fix Me #}
                {# {% url "blogs_entry_create" %}がNoReverseMatchエラーになるのでハードコーディング #}
                <a href="/blogs/{{ user.username }}/create/" class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-plus"></span> {% trans "Create Blog Article" %}</a>
            </div>
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans "Hot Entries" %}</h2>
        </div>
        {# TODO: ここにスターの数等によるホットエントリーの設置 #}
        {# Fix Me: ハードコーディング #}
        <div class="list-group">
            <a class="list-group-item" href="/blogs/system/2014/5/20/3/">VOXCHRONICLEに出演しました☆ <small class="text-muted">10 stars</small></a>
            <a class="list-group-item" href="/blogs/system/2014/5/20/1/">日記 <small class="text-muted">5 stars</small></a>
        </div>
    </div>
{% endblock %}
