{% load i18n %}
<div class="blog-article{% if object.pub_state == "protected" %} bg-protected{% endif %}">
    <div class="blog-article-header">

        <p class="blog-article-info">
            <small>
                <time class="entry-pub-date" datetime="{{ object.publish_at|date:"c" }}">{{ object.publish_at|date:"Y/m/d" }}</time>
                <span class="glyphicon glyphicon-lock text-protected" rel="tooltip" data-toggle="tooltip" data-placement="top" title="この記事は内部公開に設定されています"></span>
            </small>
            <a href="{{ object.author.profile.get_absolute_url }}">
                <img src="{{ object.author.get_middle_avatar }}" alt="{{ object.author.nickname }} Avatar" rel="tooltip" data-toggle="tooltip" data-placement="top" title="{{ object.author.nickname }}" class="avatar avatar-middle" />
            </a>
            {% if object.pub_state == "protected" %}
            {% endif %}
        </p>
        <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>

        <p class="badge">{{ object.category.label }}</p>
    </div>
    <article class="markdown">
        {% load parser %}
        {{ object.body | parser | truncatechars_html:140}}
    </article>
</div>
