{% load i18n %}
<div class="article-wrap">
    <div class="blog-article">
        <div class="blog-article-header">
            <p class="blog-article-info">
                <small>
                    <time class="entry-pub-date" datetime="{{ object.publish_at|date:"c" }}">{{ object.publish_at|date:"Y/m/d" }}</time>
                    {% if object.pub_state == "protected" %}
                        <span class="glyphicon glyphicon-lock text-protected" rel="tooltip" data-toggle="tooltip" data-placement="top" title="この記事は内部公開に設定されています"></span>
                    {% endif %}
                </small>
            </p>
            <div class="page-header entry-title">
                <h1>
                    {{ object.title }}
                </h1>
            </div>
            {% if object.category %}
                <a class="badge" href="{{ object.category.get_absolute_url }}">{{ object.category.label }}</a>
            {% else %}
                <p class="badge">{% trans "None" %}</p>
            {% endif %}
        </div>
        <article class="markdown">
            {{ object.body | kfm }}
            <time datetime="{ object.publish_at|date:'c' } "></time>
        </article>
    </div>
</div>
