{% load i18n %}
{% load parser %}
<div class="article-wrap">
    <div class="blog-article">
        <div class="blog-article-header">
            <p class="blog-article-info">
                <small>
                    <time class="entry-pub-date" datetime="{{ object.publish_at|date:"c" }}">{{ object.publish_at|date:"Y/m/d" }}</time> 
                    <span class="glyphicon glyphicon-lock text-protected" rel="tooltip" data-toggle="tooltip" data-placement="top" title="この記事は内部公開に設定されています"></span>
                </small>
            </p>
            <div class="page-header entry-title">
                <h1>
                    {{ object.title }}
                    {% if object.pub_state == "protected" %}
                    {% endif %}
                </h1>
            </div>
            <p class="badge">{{ object.category.label }}</p>
        </div>
        <article class="markdown">
            {{ object.body | parser }}
            <time datetime="{ object.publish_at|date:'c' } "></time>
        </article>
    </div>
</div>
