@import "../vendor/bootstrap/less/mixins.less";
@import "common/define";

// Blog List Header
.blog-list-header {
  .header-left {
    float: left;
    text-align: left;
    margin: 0;
  }
  .header-right {
    text-align: right;
    padding-top: 15px;
    a {
      margin-right: auto;
      display: inline-block;
    }
  }
  .clearfix();
}

// Blog Article
@protected-color: #FCF8E3;
.blog-article-header {
  .clearfix();
  margin-bottom: 20px;

}
.article-wrap {
  .entry-item {
    .blog-article {
      padding: 0 5px;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid @gray-lighter;
    }
    dl {
    &.blog-author {
      dt {
        font-weight: normal;
        span {
          &:first-child {
            margin-right: 5px;
          }
        }

      }
      dd {
        margin-top: 8px;
        .blog-avatar {
          display: inline-block;
          vertical-align: middle;
        }
        .author-info {
          display: block;
          .author-quotes {
            position: relative;
            background: #fff;
            border: 1px solid #ddd;
            display: inline-block;
            vertical-align: middle;
            padding: 5px;
            width: 110px;
            margin: 0;
            color: @text-color;
            border-radius: 5px;
            font-size: 12px;
          }
          &:hover {
            text-decoration: none;
            background: #ddd;
          }
          &.author-name {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

}
.entry-item-right {
  .blog-administration {
    .blog-administration-head {
      color: #fff;
      background: @navbar-default-bg;
      border-color: @navbar-default-bg;
    }
  }
}

// 内部公開記事用のスタイル
.bg-protected {
  background-color: @protected-color;
  border-radius: 10px;
}
.text-protected {
  color: darken(@protected-color, 50%);
}
// Blog Entry Date
// Ref: http://line25.com/tutorials/how-to-create-a-cool-blog-post-date-icon-with-css
// 使い方
// <div class="date"><p>10<span>July</span></p></div>

.date {
  line-height: 1;
  width: 65px;
  height: 89px;
  margin-right: 20px;
  padding: 8px 0 0 0;
  background: @navbar-default-bg;
  border-radius: 5px;
  p {
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    color: #fff;
    span {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      display: block;
      padding: 4px 0 1px 0;
    }
  }
}
.entry-title {
  font-size: 32px;
  margin: 30px 0 0;
}

.star-container {
  margin-left: 100px;
  width: 845px;
}

.comment-list {
  margin: 20px 0 80px 80px;
  width: 885px;
}
