@import "../vendor/bootstrap/less/variables";
@import "common/vendor-prefixes";
@import "common/define";

.markdown {
  color: @text-color;
  p {
    margin-left: 5px;
  }
  a {
    word-break: break-all;
  }
  h1 {
    padding: 8px;
    border-left: 2px solid @text-color;
    background: @gray-lighter;
    font-size: 24px;
    margin-top: 30px;
  }

  h2 {
    border-bottom: 1px solid @gray-lighter;
    font-size: 22px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin: 30px 0 15px;
  }

  h3 {
    padding: 8px;
    border-left: @text-color;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px
  }

  h4 {
    font-size: 18px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
  }
  h6 {
    color: @gray-light;
  }
  blockquote {
    font-size: @font-size-base;
    color: @gray-light;
    font-style: italic;
    line-height: @line-height-base * 1.5;
    border-left: solid 5px desaturate(lighten(@brand-primary, 40%), 40%);
    padding: 2px 0 12px 10px;
    margin: 25px 0 25px 40px;

    blockquote {
      margin-left: 12px;
    }
  }

  strong {
    color: @gray-darker;
  }

  code {
    color: @text-color;
    padding: 5px 15px 5px;
    background-color: rgb(244, 244, 244);
    .border-radius(5px)
  }
  img {
    // PCではデカくなりすぎないようにしている
    @media (min-width: @screen-lg-min) {
      max-width: 500px;
    }
    // SPWebで画像がはみ出さないようにしている
    @media (max-width: @screen-md-max) {
      max-width: 100%;
    }
  }
    video {
      // PCではデカくなりすぎないようにしている
      @media (min-width: @screen-lg-min) {
        max-width: 500px;
      }
      // SPWebで画像がはみ出さないようにしている
      @media (max-width: @screen-md-max) {
        max-width: 100%;
      }
    }
    // SPWebでYouTubeプレイヤーなどのブログパーツの見栄えを整える
    iframe {
      // PCではデカくなりすぎないようにしている
      @media (min-width: @screen-lg-min) {
        max-width: 500px;
      }
      // SPWebで画像がはみ出さないようにしている
      @media (max-width: @screen-md-max) {
        max-width: 100%;
      }
    }
    embed {
      // PCではデカくなりすぎないようにしている
      @media (min-width: @screen-lg-min) {
        max-width: 500px;
      }
      // SPWebで画像がはみ出さないようにしている
      @media (max-width: @screen-md-max) {
        max-width: 100%;
      }
    }


  // Baseline styles
  // Markdownから生成されたtableにはクラスが付加されないため
  // bootstrap3のコードをコピペして、markdown > tableには強制的に適応されるようにしてる
  // https://github.com/twbs/bootstrap/blob/master/less/tables.less
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: @line-height-computed;
    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: @table-cell-padding;
          line-height: @line-height-base;
          vertical-align: top;
          border-top: 1px solid @table-border-color;
        }
      }
    }
    // Bottom align for column headings
    > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid @table-border-color;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          border-top: 0;
        }
      }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
      border-top: 2px solid @table-border-color;
    }

    // Nesting
    table {
      background-color: @body-bg;
    }
  }

  // ヘルプページのサンプル用Markdown
  .inner-markdown {
    margin: 20px 30px;
    margin-right: 0;
    padding: 20px;
    border: solid 1px @gray;
  }

}
// @username記法のデザイン
.mention {
  .mention-username {
    vertical-align: middle;
  }
}