@import "common/define";

// Product List
.list-group-item {
  .platform-icon {
    margin-right: 5px;
  }
}


// Product Detail
.trailer {
  max-width: 800px;
  margin: 20px auto 20px;
  img {
    max-width: 800px;
    width: 100%;
  }
}
.downloads {
  text-align: center;
  margin: 20px auto;
}
.screenshots {
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
  img {
    height: 200px;
  }
}
.products-aside-item {
  .list-group-item {
    .thumbnail {
      margin: 0;
    }
  }
  .recommend-item {
    margin: 0;
    padding: 0;
  }
  address {
    margin-bottom: 0;
  }
}
