@import "common/define";

@container-min-height: 40px;

.star-container {
  padding: 10px 10px 15px;
  min-height: @container-min-height;
  position: relative;
  display: flex;
  ul {
    padding-left: 3px;
  }
  li {
    height: @avatar-size-small;
  }
  .add-star-button {
    margin: 0;
    span {
      margin-left: 3px;
    }
  }
  .star-add-col {
    flex: 1 1 40px;
    max-width: 50px;
    padding: 0;
  }
  .star-body-col {
    flex: 11;
    display: inline-block;
  }
  .star-wrapper {
    display: inline;
    float: left;
    .star-count {
      color: @brand-warning;
    }
  }
  .star {
    display: inline;
    width: @avatar-size-small;
    float: left;
    list-style-type: none;
    .star-user {
      // absolute指定されている 子要素の.star-removeの
      //基準位置となるように、ここは relative を指定している
      position: relative;
    }
    .star-remove {
      width: 3px;
      height: 3px;
      top: -2px;
      left: -2px;
      position: absolute;
      display: inline-block;
      z-index: 3000;
    }
  }
}
