@import "common/define";

.star-container {
  padding-bottom: 25px;
  min-height: 40px;
  ul {
    padding-left: 3px;
  }
  li {
    height: @avatar-size-small;
  }
  .add-star-button {
    span {
      margin-left: 3px;
    }
  }
  .star-add-col {
    float: left;
  }
  .star-body-col {
    display: inline-block;
    padding-top: 7px;
    padding-left: 8px;
  }
  .star-read-more {
    span {
      margin-top: 2px;
      margin-right: 2px;
    }
    color: @brand-warning;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    min-width: 16px;
    cursor: pointer;
  }
  .star {
    width: @avatar-size-small;
    float: left;
    list-style-type: none;
    .star-user {
      // absolute指定されている 子要素の.star-removeの
      //基準位置となるように、ここは relative を指定している
      position: relative;
    }
    .star-remove {
      width: 3px;
      height: 3px;
      top: -2px;
      left: -2px;
      position: absolute;
      display: inline-block;
      z-index: 3000;
    }
  }
}
