@import "common/define";

#activity-container {

  .activity {
    border: solid 1px @gray-lighter;
    padding: 4px;
    margin-bottom: 15px;
    min-height: 50px;

    .activity-body {
      padding-left: 50px;
      min-height: 50px;
    }

    .activity-history {
      margin-left: 15px;
      font-size: small;
    }
    .activity-icon {
      float:left;
      width: @avatar-size-middle;
      height: @avatar-size-middle;
    }

  }

}