{% load i18n %}
{% load parser %}
<div class="blog-article">
    <div class="blog-article-header">
        <div class="pull-right">
            <a href="{{ object.author.profile.get_absolute_url }}">
                <img src="{{ object.author.get_large_avatar }}" alt="{{ object.author.nickname }} Avatar" class="avatar avatar-middle"/> {{ object.author.nickname }}
            </a><br />
            {% if user has 'blogs.change_entry' of object %}
                <a href="{% url 'blogs_entry_update' author=user.username pk=object.pk %}" class="btn btn-default btn-sm">Edit</a>
            {% endif %}
            {% if user has 'blogs.delete_entry' of object %}
                <a href="{% url 'blogs_entry_delete' author=user.username pk=object.pk %}" class="btn btn-danger btn-sm">Delete This Entry</a>
            {% endif %}
        </div>
        <div class="date pull-left">
            <p>{{ object.created_at|date:"d" }}<span>{{ object.created_at|date:"M" }}</span></p>
        </div>
        <div class="page-header">
            <h1>{{ object.title }}</h1>
        </div>
        <p class="badge">{{ object.category.label }}</p>
    </div>
    <article class="markdown">
        {{ object.body | parser }}
        <time><label>{% trans "Published at" %}</label>: {{ object.publish_at|date:"Y/m/d H:i" }}</time>
    </article>
</div>
