{% load activities_tags %}
{% load humanize %}

{% if typename == 'root' %}
    <a class="activity-icon" href="{{ object.get_absolute_url }}">
        {% block icon %}
        {% endblock %}
    </a>
{% endif %}

{% if typename == 'root' %}

    <div class="activity-body">
        <a href="{{ object.get_absolute_url }}" class="activity-header">
            <h3> {% block root %} {% endblock %}</h3>
        </a>


        <div class="activity-history">
            {% block history %}
                {% get_activities_of activity.snapshot as activities %}
                {% for activity in activities|slice:":3" %}
                    {% render_activity activity %}
                {% endfor %}
            {% endblock %}
        </div>
    </div>
{% else %}
    <div class="activity-history-item">
        {% block history-item %}
        {% endblock %}
        {% include "activities/components/activity_footer.html" %}
    </div>
{% endif %}
