{% load activities_tags %}
{% load humanize %}

{% if typename == 'root' %}
    <a class="activity-icon" href="{{ object.get_absolute_url }}">
        {% block icon %}
        {% endblock %}
    </a>
{% endif %}

{% if typename == 'root' %}
    <div class="row">
        {% block thumbnail %}
        {% endblock %}
        <div class="activity-body col-sm-12">
            <a href="{{ object.get_absolute_url }}" class="activity-header">
                <h3> {% block root %} {% endblock %}</h3>
            </a>

            <div class="activity-history">
                {% block history %}
                    {% render_activity activity %}
                {% endblock %}
            </div>
        </div>
    </div>
{% else %}
    <div class="activity-history-item">
        {% block history-item %}
        {% endblock %}
        {% include "activities/components/activity_footer.html" %}
    </div>
{% endif %}
